/* content */
.stations-header {
    padding-top: 40px;
    padding-bottom: 10px;
}
.stations-header-title {
    font-size: 29px;
    font-weight: normal;
    line-height: 1.3;
    margin-bottom: 20px;
    h1 {
        font-size: 100%;
        font-weight: normal;
    }
}
.stations-header-choose {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    a {
        color: #B5B5BA;
        &.active {
            color: $s;
        }
    }
    span {
        padding: 0 22px;
    }
}
.stations-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    li {
        margin: 0 0 20px 20px;
        &:first-child {
            margin-left: 0;
        }
    }
}
.stations {
    display: none;
    margin-bottom: 50px;
    &.visible {
        display: block;
    }
}
.station {
    display: block;
    margin-bottom: 29px;
}
.station-link {
    display: block;
    color: $s;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -15px;
        background: $w;
        border: 2px solid #f3f3f3;
        border-radius: 12px;
        opacity: 0;
        transform: scale(0.98);
        //box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.15);
        transition: transform $d*1.5 $f, opacity $d*1.5 $f;
        will-change: opacity;
    }
    &:hover {
        color: $s;
        &:after {
            opacity: 1;
            transform: none;
        }
        .station-poster-image:before {
            opacity: 0.1;
        }
    }
}
.station-poster {
    display: block;
    position: relative;
    z-index: 2;
}
.station-poster-image {
    display: block;
    height: 0;
    height: 270px;
    border-radius: 8px;
    background: $s no-repeat 50% 50%;
    background-size: cover;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        background: $w;
        border-radius: 8px;
        transition: opacity $d*2 $f;
    }
}
.station-labels {
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.station-label {
    background: $p;
    color: $w;
    margin: 0 10px 10px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 14px;
    padding: 3px 14px 4px;
}
.station-tags {
    position: absolute;
    left: 10px;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
}
.station-tag {
    color: $s;
    background: rgba(255, 255, 255, 0.9);
    margin: 0 10px 10px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 14px;
    padding: 3px 14px 4px;
}
.station-title {
    position: relative;
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    padding: 13px 0 7px;
    z-index: 2;
}
.station-meta {
    position: relative;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #6A6A6C;
    z-index: 2;
}
.station-location {
    display: inline-block;
    color: #6A6A6C;
    position: relative;
    padding-left: 23px;
    font-weight: bold;
    margin: 0 4px;
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 12px;
        height: 16px;
        background: transparent url('../upload/ic_location.svg') 0 0 no-repeat;
        background-size: 12px;
        transform: translate3d(0, -50%, 0);
    }
}
.station-languages {
    display: inline-block;
    color: #B5B5BA;
    margin: 0 2px;
}
.station-language {
    &:after {
        content: ", ";
    }
    &:last-child {
        &:after {
            display: none;
        }
    }
}
.no-js .collection-slide {
    display: none;
    &:first-child {
        display: block;
    }
}
.collections {
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 30px;
    padding-bottom: 3px;
    padding-top: 24px;
}
.collections-title {
    color: #6A6A6C;
    font-size: 16px;
    margin-bottom: 18px;
    padding-top: 4px;
}
.collection-slider-wrap {
    margin-left: -15px;
    margin-right: -15px;
}
.collection-slide {
    padding: 0 15px 26px;
}
.collection {
    display: block;
    text-align: center;
}
.collection-photos {
    background: #28282a;
    display: block;
    border-radius: 8px;
    padding: 19px;
    margin-bottom: 6px;
}
.collection-photo-list {
    height: 112px;
    margin: 0 auto;
    width: 212px;
    position: relative;
    display: block;
}
.collection-photo {
    position: absolute;
    opacity: 0.6;
    border-radius: 6px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.50);
    left: 0;
    top: 50%;
    width: 92px;
    height: 92px;
    background: $text no-repeat 50% 50%;
    background-size: cover;
    transform: translate3d(0, -50%, 0);
    &:nth-child(2) {
        right: 0;
        width: 112px;
        height: 112px;
        opacity: 1;
        z-index: 2;
        margin-left: auto;
        margin-right: auto;
    }
    &:nth-child(3) {
        left: auto;
        right: 0;
    }
}
.collection-title {
    display: block;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    padding: 12px 0 9px;
}
.collection-meta {
    font-size: 14px;
    display: block;
    color: #B5B5BA;
}
.ais-Hits {
    flex: 0 0 100%;
    max-width: 100%;
}
.ais-Hits-list {
    @extend .row;
}
.ais-Hits-item {
    @extend .col-lg-3;
}
.ais-Hits-item {
    @extend .col-6;
}
.ais-Pagination-list {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ais-Pagination-item {
    margin: 5px;
}
.ais-Pagination-link {
    display: block;
    cursor: pointer;
    padding: 5px 10px;
    min-width: 36px;
    text-align: center;
    border-radius: 4px;
    color: $text;
    border: 1px solid $tr;
    transition: color $d $f, background-color $d $f, border-color $d $f;
}
.ais-Pagination-item--page {
    .ais-Pagination-link {
        border-color: #e9e9e9;
        &:hover {
            border-color: $p;
        }
    }
}
.ais-Pagination-item--selected {
    .ais-Pagination-link {
        background: $p;
        border-color: $p;
        color: $w;
    }
}
.ais-Pagination-item--disabled {
    opacity: 0.35;
}
.ais-Highlight-highlighted {
    background-color: $p;
    border-radius: 4px;
}
.podcast {
    &-hero {
        padding-top: 89px;
        color: $w;
        background: #101011 50% 50% no-repeat;
        background-size: cover;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            z-index: 2;
            top: 89px;
            left: 0;
            right: 0;
            max-width: 1400px;
            margin: 0 auto;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            height: 0;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(16, 16, 17, 0.6);
        }
        .row {
            min-height: 638px;
            padding-bottom: 56px;
        }
        a {
            color: $w;
        }
        &-content {
            position: relative;
            z-index: 2;
            padding: 40px 0;
            h1 {
                font-size: 60px;
                line-height: 1.25;
                margin-bottom: 17px;
            }
        }
        &-info {
            max-width: 470px;
            font-size: 18px;
            line-height: 1.5556;
            color: rgba(255, 255, 255, 0.6);
            p {
                margin-bottom: 25px;
            }
        }
    }
    &-about {
        padding: 90px 0 50px;
        &-info {
            padding: 10px 0 50px;
        }
        &-title {
            font-size: 32px;
            line-height: 1.25;
            margin-bottom: 25px;
            h2 {
                font-size: 100%;
            }
        }
        &-text {
            font-size: 18px;
            line-height: 1.5556;
            p {
                margin-bottom: 28px;
            }
        }
        &-button {
            margin-top: -5px;
        }
    }
    &-videos {
        &-slider {
            margin: 0 -10px 30px;
        }
        &-slide {
            padding: 10px 10px 20px;
        }
        &-link {
            display: block;
            margin-bottom: 11px;
            height: 0;
            padding-top: 56.316%;
            position: relative;
            background: #D8D8D8 50% 50% no-repeat;
            background-size: cover;
            border-radius: 8px;
            box-shadow: 0 6px 12px rgba(40, 40, 42, 0.14);
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                opacity: 0;
                background: $w;
                border-radius: 8px;
                transition: opacity $d*2 $f;
            }
            &:hover {
                &:before {
                    opacity: 0.1;
                }
            }
        }
        &-tag {
            display: block;
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            &-item {
                display: block;
                margin: 5px;
                padding: 0 14px;
                font-size: 14px;
                line-height: 2;
                font-weight: 500;
                color: $w;
                text-align: center;
                background: rgba(13, 14, 13, 0.3);
                border-radius: 14px;
            }
        }
        &-button {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            span {
                font-size: 16px;
                font-weight: bold;
                border-radius: 21px;
                border: 1px solid $p;
                color: $w;
                line-height: 1.25;
                background-color: $p;
                display: inline-block;
                padding: 10px 29px;
            }
        }
        &-languages {
            display: flex;
            flex-wrap: wrap;
            li {
                font-size: 14px;
                color: #B5B5BA;
                padding-right: 3px;
                &:first-child {
                    padding-right: 8px;
                }
                a {
                    display: inline-block;
                    color: #6A6A6C;
                    &:hover {
                        color: $s;
                    }
                }
            }
        }
    }
    &-features {
        margin-top: -5px;
        &-title {
            font-size: 18px;
            line-height: 1.5556;
            color: #6A6A6C;
            margin-bottom: 22px;
            h3 {
                font-size: 100%;
            }
        }
        &-list {
            display: block;
            font-size: 18px;
            line-height: 1.5556;
            li {
                position: relative;
                margin-bottom: 30px;
                padding-left: 34px;
                img {
                    display: block;
                }
                span {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 2px;
                    width: 24px;
                }
            }
        }
    }
    &-publish {
        padding: 40px 0;
        color: $w;
        background: #101011 50% 50% no-repeat;
        background-size: cover;
        .container {
            & > .row {
                min-height: 531px;
            }
        }
        a {
            color: $w;
        }
        &-caption {
            padding: 10px 0 17px;
            text-align: center;
            h2 {
                font-size: 40px;
                line-height: 1.25;
                margin-bottom: 30px;
            }
            p {
                font-size: 18px;
                line-height: 1.5556;
                color: rgba(255, 255, 255, 0.8);
                max-width: 470px;
                margin: 0 auto 28px;
            }
        }
        &-info {
            padding: 30px 0 6px;
            border-bottom: 2px solid $w;
            p {
                font-size: 16px;
                line-height: 1.625;
                margin-bottom: 10px;
                color: rgba(255, 255, 255, 0.6);
            }
        }
        &-title {
            font-size: 20px;
            line-height: 1.3;
            font-weight: 500;
            margin-bottom: 14px;
        }
    }
}
.no-js {
    .podcast-videos-slide {
        display: none;
        &:first-child {
            display: block;
        }
    }
}
.home {
    &-podcast {
        margin: 80px 0;
        padding: 40px 0;
        color: $w;
        text-align: center;
        background: #101011 50% 50% no-repeat;
        background-size: cover;
        .row {
            min-height: 370px;
        }
        a {
            color: $w;
        }
        &-content {
            max-width: 450px;
            margin: 0 auto;
        }
        &-title {
            font-size: 40px;
            line-height: 1.3;
            font-weight: bold;
            margin-bottom: 16px;
            h2 {
                font-size: 100%;
                font-weight: bold;
            }
        }
        &-info {
            font-size: 18px;
            line-height: 1.6667;
            p {
                margin-bottom: 25px;
            }
        }
    }
}
.article-single {
    padding: 48px 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.67;
    color: rgba($s, 0.8);
    .article-meta, h1, h2, h3, h4, h5, h6, p, ul, ol, table, blockquote, hr {
        margin: 30px auto;
        max-width: 770px;
    }
    blockquote {
        color: $s;
        font-size: 24px;
        line-height: 1.25;
        position: relative;
        padding-left: 5.9%;
        padding-right: 9%;
        margin-top: 40px;
        margin-bottom: 40px;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 5.2%;
            bottom: 0;
            width: 4px;
            background: rgba($s, 0.2);
        }
    }
    .article-meta {
        color: #B5B5BA;
        font-size: 14px;
        a {
            color: $p;
            text-decoration: none;
            &:hover {
                color: $s;
            }
        }
        &-category {
            margin-right: 6px;
        }
        & + h1 {
            margin-top: -12px;
        }
    }
    h1 {
        padding-right: 10%;
        font-size: 40px;
        font-weight: normal;
        line-height: 1.25;
        color: $s;
        & + p {
            margin-top: -9px;
            font-size: 22px;
            line-height: 1.55;
        }
    }
    h2 {
        margin-top: 36px;
        color: $s;
        font-size: 24px;
        & + p {
            margin-top: -15px;
        }
    }
    figure {
        display: block;
    }
    img {
        width: 100%;
        height: auto;
        display: block;
        margin: 60px 0;
    }
    p {
        &:empty {
            display: none;
        }
    }
    a {
        color: $p;
        text-decoration: underline;
    }
}
.article-end {
    width: 100%;
    height: 1px;
    line-height: 0;
    margin-top: 67px;
    margin-bottom: -48px;
    background: $light-gray;
}
.article-social {
    margin-top: 60px;
    max-width: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0;
    line-height: 0;
    color: $tr;
    &-title {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        color: $s;
        line-height: 1.25;
        font-size: 16px;
        color: rgba($s, 0.8);
        margin-bottom: 9px;
    }
    &-item {
        margin: 12px;
    }
    a, svg {
        display: inline-block;
        vertical-align: top;
    }
    a:hover {
        .change-fill {
            fill: $p;
        }
    }
}
.change-fill {
    transition: all $d $f;
}
.blog {
    &-section {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $light-gray;
        padding-bottom: 80px;
        padding-top: 38px;
    }
    &-hero {
        background: #101011;
        height: 727px;
        position: relative;
        &-line {
            position: absolute;
            left: 0;
            right: 0;
            top: 84px;
            &-bg {
                opacity: 0.1;
                height: 1px;
                background: $w;
            }
        }
        &-background {
            opacity: 0.4;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background: $tr no-repeat 50% 50%;
            background-size: cover;
        }
        &-content {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 99px;
        }
        &-item {
            &-meta {
                margin-bottom: 18px;
                color: rgba($w, 0.4);
                font-size: 14px;
                a {
                    color: $p;
                }
            }
            &-category {
                margin-right: 8px;
            }
            &-title {
                max-width: 480px;
                font-size: 40px;
                line-height: 1.28;
                margin-bottom: 28px;
                a {
                    color: $w;
                }
            }
            &-more {
                font-weight: bold;
                font-size: 18px;
                a {
                    color: $p;
                }
            }
        }
    }
    &-categories {
        flex: 0 0 60%;
        max-width: 60%;
        font-size: 18px;
        margin-bottom: 30px;
        padding-right: 30px;
        ul {
            display: flex;
            max-width: 100%;
            overflow: auto;
            padding-bottom: 6px;
            -webkit-overflow-scrolling: touch;
            overflow-scrolling: touch;
            &::-webkit-scrollbar {
                height: 6px;
            }
            &::-webkit-scrollbar-track {
                background: $light-gray;
                border-radius: 3px;
            }
            &::-webkit-scrollbar-thumb {
                background: $p;
                border-radius: 3px;
            }
            li {
                white-space: nowrap;
                padding-left: 34px;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: 14px;
                    left: 12px;
                    background: $s;
                    opacity: 0.4;
                    width: 10px;
                    height: 1px;
                }
                &:first-child {
                    padding-left: 0;
                    &:before {
                        display: none;
                    }
                }
                &.active,
                &.current-menu-item {
                    a {
                        opacity: 1;
                        text-decoration: none;
                    }
                }
            }
        }
        a {
            color: $s;
            transition: opacity $d $f;
            opacity: 0.4;
            text-decoration: underline;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    &-search {
        flex: 0 0 40%;
        max-width: 40%;
    }
    &-content {
        flex: 0 0 60%;
        max-width: 60%;
        padding-right: 30px;
        &-list {
            &-title {
                color: #6A6A6C;
                font-size: 16px;
                margin-bottom: 29px;
            }
        }
        &-more {
            max-width: 570px;
            text-align: center;
        }
        &-item {
            max-width: 570px;
            margin-bottom: 40px;
            &-thumb {
                margin-bottom: 20px;
                a {
                    display: block;
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: $w;
                        opacity: 0;
                        transition: opacity $d $f;
                    }
                    &:hover {
                        &:before {
                            opacity: 0.1;
                        }
                    }
                }
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
            &-category {
                margin-right: 8px;
            }
            &-meta {
                font-size: 14px;
                margin-bottom: 9px;
                color: #B5B5BA;
                a {
                    color: #21A0A7;
                    &:hover {
                        color: $p;
                    }
                }
            }
            &-title {
                font-size: 34px;
                line-height: 1.28;
                a {
                    &:hover {
                        color: $p;
                    }
                }
            }
        }
    }
    &-sidebar {
        flex: 0 0 40%;
        max-width: 40%;
        &-title {
            color: #6A6A6C;
            font-size: 16px;
            margin-bottom: 29px;
        }
    }
}
.alm-btn-wrap {
    max-width: 570px;
    text-align: center;
}
.popular-article {
    margin-bottom: 29px;
    &-meta {
        font-size: 14px;
        color: #B5B5BA;
        margin-bottom: 10px;
        .article-meta-category {
            margin-right: 7px;
        }
        a {
            color: #21A0A7;
            &:hover {
                color: $p;
            }
        }
    }
    &-link {
        font-size: 24px;
        line-height: 1.25;
        a {
            color: $s;
            &:hover {
                color: $p;
            }
        }
    }
}
.blog-search-wrap {
    margin-top: -4px;
    margin-left: auto;
    max-width: 310px;
    position: relative;
    padding-left: 32px;
}
.blog-search-line {
    display: none;
}
input.blog-search-text {
    border: 0;
    background: $w;
    font-size: 16px;
    height: 32px;
    color: $text;
    width: 100%;
    &::placeholder {
        color: #A9A9AA;
    }
}
input.blog-search-button {
    border: 0;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
    background: $tr url('../upload/ic_search-dark.svg') no-repeat 50% 50%;
    background-size: 16px 16px;
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    transition: opacity $d $f;
    &:hover {
        opacity: 0.6;
    }
}
