/* content */
.stations-header {
    padding-top: 40px;
    padding-bottom: 10px;
}
.stations-header-title {
    font-size: 29px;
    font-weight: normal;
    line-height: 1.3;
    margin-bottom: 20px;
    h1 {
        font-size: 100%;
        font-weight: normal;
    }
}
.stations-header-choose {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    a {
        color: #888888;
        &.active {
            color: $s;
        }
    }
    span {
        padding: 0 22px;
    }
}
.stations-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    li {
        margin: 0 0 20px 20px;
        &:first-child {
            margin-left: 0;
        }
    }
}
.stations {
    display: none;
    margin-bottom: 50px;
    &.visible {
        display: block;
    }
}
.station {
    display: block;
    margin-bottom: 29px;
}
.station-link {
    display: block;
    color: $s;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -15px;
        background: $w;
        border: 2px solid #f3f3f3;
        border-radius: 12px;
        opacity: 0;
        transform: scale(0.98);
        //box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.15);
        transition: transform $d*1.5 $f, opacity $d*1.5 $f;
        will-change: opacity;
    }
    &:hover {
        color: $s;
        &:after {
            opacity: 1;
            transform: none;
        }
        .station-poster-image:before {
            opacity: 0.1;
        }
    }
}
.station-poster {
    display: block;
    position: relative;
    z-index: 2;
}
.station-poster-image {
    display: block;
    height: 0;
    height: 270px;
    border-radius: 8px;
    background: $s no-repeat 50% 50%;
    background-size: cover;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        background: $w;
        border-radius: 8px;
        transition: opacity $d*2 $f;
    }
}
.station-labels {
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.station-label {
    background: $p;
    color: $text;
    margin: 0 10px 10px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 14px;
    padding: 3px 14px 4px;
}
.station-tags {
    position: absolute;
    left: 10px;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
}
.station-tag {
    color: $s;
    background: rgba(255, 255, 255, 0.9);
    margin: 0 10px 10px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 14px;
    padding: 3px 14px 4px;
}
.station-title {
    position: relative;
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    padding: 13px 0 7px;
    z-index: 2;
}
.station-meta {
    position: relative;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #6A6A6C;
    z-index: 2;
}
.station-location {
    display: inline-block;
    color: #6A6A6C;
    position: relative;
    padding-left: 23px;
    font-weight: bold;
    margin: 0 4px;
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 12px;
        height: 16px;
        background: transparent url('../upload/ic_location.svg') 0 0 no-repeat;
        background-size: 12px;
        transform: translate3d(0, -50%, 0);
    }
}
.station-languages {
    display: inline-block;
    color: #6f6f6f;
    margin: 0 2px;
}
.station-language {
    &:after {
        content: ", ";
    }
    &:last-child {
        &:after {
            display: none;
        }
    }
}
.no-js .collection-slide {
    display: none;
    &:first-child {
        display: block;
    }
}
.collections {
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 30px;
    padding-bottom: 3px;
    padding-top: 24px;
}
.collections-title {
    color: #6A6A6C;
    font-size: 16px;
    margin-bottom: 18px;
    padding-top: 4px;
}
.collection-slider-wrap {
    margin-left: -15px;
    margin-right: -15px;
}
.collection-slide {
    padding: 0 15px 26px;
}
.collection {
    display: block;
    text-align: center;
}
.collection-photos {
    background: #28282a;
    display: block;
    border-radius: 8px;
    padding: 19px;
    margin-bottom: 6px;
}
.collection-photo-list {
    height: 112px;
    margin: 0 auto;
    width: 212px;
    position: relative;
    display: block;
}
.collection-photo {
    position: absolute;
    opacity: 0.6;
    border-radius: 6px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.50);
    left: 0;
    top: 50%;
    width: 92px;
    height: 92px;
    background: $text no-repeat 50% 50%;
    background-size: cover;
    transform: translate3d(0, -50%, 0);
    &:nth-child(2) {
        right: 0;
        width: 112px;
        height: 112px;
        opacity: 1;
        z-index: 2;
        margin-left: auto;
        margin-right: auto;
    }
    &:nth-child(3) {
        left: auto;
        right: 0;
    }
}
.collection-title {
    display: block;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    padding: 12px 0 9px;
}
.collection-meta {
    font-size: 14px;
    display: block;
    color: #6f6f6f;
}
.ais-Hits {
    flex: 0 0 100%;
    max-width: 100%;
}
.ais-Hits-list {
    @extend .row;
}
.ais-Hits-item {
    @extend .col-lg-3;
}
.ais-Hits-item {
    @extend .col-6;
}
.ais-Pagination-list {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ais-Pagination-item {
    margin: 5px;
}
.ais-Pagination-link {
    display: block;
    cursor: pointer;
    padding: 5px 10px;
    min-width: 36px;
    text-align: center;
    border-radius: 4px;
    color: $text;
    border: 1px solid $tr;
    transition: color $d $f, background-color $d $f, border-color $d $f;
}
.ais-Pagination-item--page {
    .ais-Pagination-link {
        border-color: #e9e9e9;
        &:hover {
            border-color: $p;
        }
    }
}
.ais-Pagination-item--selected {
    .ais-Pagination-link {
        background: $p;
        border-color: $p;
        color: $w;
    }
}
.ais-Pagination-item--disabled {
    opacity: 0.35;
}
.ais-Highlight-highlighted {
    background-color: $p;
    border-radius: 4px;
}
.podcast {
    &-hero {
        padding-top: 89px;
        color: $w;
        background: #101011 50% 50% no-repeat;
        background-size: cover;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            z-index: 2;
            top: 89px;
            left: 0;
            right: 0;
            max-width: 1400px;
            margin: 0 auto;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            height: 0;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(16, 16, 17, 0.6);
        }
        .row {
            min-height: 638px;
            padding-bottom: 56px;
        }
        a {
            color: $w;
        }
        &-content {
            position: relative;
            z-index: 2;
            padding: 40px 0;
            h1 {
                font-size: 60px;
                line-height: 1.25;
                margin-bottom: 17px;
            }
        }
        &-info {
            max-width: 470px;
            font-size: 18px;
            line-height: 1.5556;
            color: rgba(255, 255, 255, 0.6);
            p {
                margin-bottom: 25px;
            }
        }
    }
    &-about {
        padding: 90px 0 50px;
        &-info {
            padding: 10px 0 50px;
        }
        &-title {
            font-size: 32px;
            line-height: 1.25;
            margin-bottom: 25px;
            h2 {
                font-size: 100%;
            }
        }
        &-text {
            font-size: 18px;
            line-height: 1.5556;
            p {
                margin-bottom: 28px;
            }
        }
        &-button {
            margin-top: -5px;
        }
    }
    &-videos {
        &-slider {
            margin: 0 -10px 30px;
        }
        &-slide {
            padding: 10px 10px 20px;
        }
        &-link {
            display: block;
            margin-bottom: 11px;
            height: 0;
            padding-top: 56.316%;
            position: relative;
            background: #D8D8D8 50% 50% no-repeat;
            background-size: cover;
            border-radius: 8px;
            box-shadow: 0 6px 12px rgba(40, 40, 42, 0.14);
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                opacity: 0;
                background: $w;
                border-radius: 8px;
                transition: opacity $d*2 $f;
            }
            &:hover {
                &:before {
                    opacity: 0.1;
                }
            }
        }
        &-tag {
            display: block;
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            &-item {
                display: block;
                margin: 5px;
                padding: 0 14px;
                font-size: 14px;
                line-height: 2;
                font-weight: 500;
                color: $w;
                text-align: center;
                background: rgba(13, 14, 13, 0.3);
                border-radius: 14px;
            }
        }
        &-button {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            span {
                font-size: 16px;
                font-weight: bold;
                border-radius: 21px;
                border: 1px solid $p;
                color: $w;
                line-height: 1.25;
                background-color: $p;
                display: inline-block;
                padding: 10px 29px;
            }
        }
        &-languages {
            display: flex;
            flex-wrap: wrap;
            li {
                font-size: 14px;
                color: #B5B5BA;
                padding-right: 3px;
                &:first-child {
                    padding-right: 8px;
                }
                a {
                    display: inline-block;
                    color: #6A6A6C;
                    &:hover {
                        color: $s;
                    }
                }
            }
        }
    }
    &-features {
        margin-top: -5px;
        &-title {
            font-size: 18px;
            line-height: 1.5556;
            color: #6A6A6C;
            margin-bottom: 22px;
            h3 {
                font-size: 100%;
            }
        }
        &-list {
            display: block;
            font-size: 18px;
            line-height: 1.5556;
            li {
                position: relative;
                margin-bottom: 30px;
                padding-left: 34px;
                img {
                    display: block;
                }
                span {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 2px;
                    width: 24px;
                }
            }
        }
    }
    &-publish {
        padding: 40px 0;
        color: $w;
        background: #101011 50% 50% no-repeat;
        background-size: cover;
        .container {
            & > .row {
                min-height: 531px;
            }
        }
        a {
            color: $w;
        }
        &-caption {
            padding: 10px 0 17px;
            text-align: center;
            h2 {
                font-size: 40px;
                line-height: 1.25;
                margin-bottom: 30px;
            }
            p {
                font-size: 18px;
                line-height: 1.5556;
                color: rgba(255, 255, 255, 0.8);
                max-width: 470px;
                margin: 0 auto 28px;
            }
        }
        &-info {
            padding: 30px 0 6px;
            border-bottom: 2px solid $w;
            p {
                font-size: 16px;
                line-height: 1.625;
                margin-bottom: 10px;
                color: rgba(255, 255, 255, 0.6);
            }
        }
        &-title {
            font-size: 20px;
            line-height: 1.3;
            font-weight: 500;
            margin-bottom: 14px;
        }
    }
}
.no-js {
    .podcast-videos-slide {
        display: none;
        &:first-child {
            display: block;
        }
    }
}
.home {
    &-podcast {
        margin: 80px 0;
        padding: 40px 0;
        color: $w;
        text-align: center;
        background: #101011 50% 50% no-repeat;
        background-size: cover;
        .row {
            min-height: 370px;
        }
        a {
            color: $w;
        }
        &-content {
            max-width: 450px;
            margin: 0 auto;
        }
        &-title {
            font-size: 40px;
            line-height: 1.3;
            font-weight: bold;
            margin-bottom: 16px;
            h2 {
                font-size: 100%;
                font-weight: bold;
            }
        }
        &-info {
            font-size: 18px;
            line-height: 1.6667;
            p {
                margin-bottom: 25px;
            }
        }
    }
}
.article-single {
    padding: 48px 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.67;
    color: rgba($s, 0.8);
    .article-meta, h1, h2, h3, h4, h5, h6, p, ul, ol, table, blockquote, hr {
        margin: 30px auto;
        max-width: 770px;
    }
    blockquote {
        color: $s;
        font-size: 24px;
        line-height: 1.25;
        position: relative;
        padding-left: 5.9%;
        padding-right: 9%;
        margin-top: 40px;
        margin-bottom: 40px;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 5.2%;
            bottom: 0;
            width: 4px;
            background: rgba($s, 0.2);
        }
    }
    .article-meta {
        color: #B5B5BA;
        font-size: 14px;
        a {
            color: $p;
            text-decoration: none;
            &:hover {
                color: $s;
            }
        }
        &-category {
            margin-right: 6px;
        }
        & + h1 {
            margin-top: -12px;
        }
    }
    h1 {
        padding-right: 10%;
        font-size: 40px;
        font-weight: normal;
        line-height: 1.25;
        color: $s;
        & + p {
            margin-top: -9px;
            font-size: 22px;
            line-height: 1.55;
        }
    }
    h2 {
        margin-top: 36px;
        color: $s;
        font-size: 24px;
        & + p {
            margin-top: -15px;
        }
    }
    figure {
        display: block;
    }
    img {
        width: 100%;
        height: auto;
        display: block;
        margin: 60px 0;
    }
    p {
        &:empty {
            display: none;
        }
    }
    a {
        color: $p;
        text-decoration: underline;
    }
}
.article-end {
    width: 100%;
    height: 1px;
    line-height: 0;
    margin-top: 67px;
    margin-bottom: -48px;
    background: $light-gray;
}
.article-social {
    margin-top: 60px;
    max-width: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0;
    line-height: 0;
    color: $tr;
    &-title {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        color: $s;
        line-height: 1.25;
        font-size: 16px;
        color: rgba($s, 0.8);
        margin-bottom: 9px;
    }
    &-item {
        margin: 12px;
    }
    a, svg {
        display: inline-block;
        vertical-align: top;
    }
    a:hover {
        .change-fill {
            fill: $p;
        }
    }
}
.change-fill {
    transition: all $d $f;
}
.blog {
    &-section {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $light-gray;
        padding-bottom: 80px;
        padding-top: 38px;
    }
    &-hero {
        background: #101011;
        height: 727px;
        position: relative;
        &-line {
            position: absolute;
            left: 0;
            right: 0;
            top: 84px;
            &-bg {
                opacity: 0.1;
                height: 1px;
                background: $w;
            }
        }
        &-background {
            opacity: 0.4;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background: $tr no-repeat 50% 50%;
            background-size: cover;
        }
        &-content {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 99px;
        }
        &-item {
            &-meta {
                margin-bottom: 18px;
                color: rgba($w, 0.4);
                font-size: 14px;
                a {
                    color: $p;
                }
            }
            &-category {
                margin-right: 8px;
            }
            &-title {
                max-width: 480px;
                font-size: 40px;
                line-height: 1.28;
                margin-bottom: 28px;
                a {
                    color: $w;
                }
            }
            &-more {
                font-weight: bold;
                font-size: 18px;
                a {
                    color: $p;
                }
            }
        }
    }
    &-categories {
        flex: 0 0 60%;
        max-width: 60%;
        font-size: 18px;
        margin-bottom: 30px;
        padding-right: 30px;
        ul {
            display: flex;
            max-width: 100%;
            overflow: auto;
            padding-bottom: 6px;
            -webkit-overflow-scrolling: touch;
            overflow-scrolling: touch;
            &::-webkit-scrollbar {
                height: 6px;
            }
            &::-webkit-scrollbar-track {
                background: $light-gray;
                border-radius: 3px;
            }
            &::-webkit-scrollbar-thumb {
                background: $p;
                border-radius: 3px;
            }
            li {
                white-space: nowrap;
                padding-left: 34px;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: 14px;
                    left: 12px;
                    background: $s;
                    opacity: 0.4;
                    width: 10px;
                    height: 1px;
                }
                &:first-child {
                    padding-left: 0;
                    &:before {
                        display: none;
                    }
                }
                &.active,
                &.current-menu-item {
                    a {
                        opacity: 1;
                        text-decoration: none;
                    }
                }
            }
        }
        a {
            color: $s;
            transition: opacity $d $f;
            opacity: 0.4;
            text-decoration: underline;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    &-search {
        flex: 0 0 40%;
        max-width: 40%;
    }
    &-content {
        flex: 0 0 60%;
        max-width: 60%;
        padding-right: 30px;
        &-list {
            &-title {
                color: #6A6A6C;
                font-size: 16px;
                margin-bottom: 29px;
            }
        }
        &-more {
            max-width: 570px;
            text-align: center;
        }
        &-item {
            max-width: 570px;
            margin-bottom: 40px;
            &-thumb {
                margin-bottom: 20px;
                a {
                    display: block;
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: $w;
                        opacity: 0;
                        transition: opacity $d $f;
                    }
                    &:hover {
                        &:before {
                            opacity: 0.1;
                        }
                    }
                }
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
            &-category {
                margin-right: 8px;
            }
            &-meta {
                font-size: 14px;
                margin-bottom: 9px;
                color: #B5B5BA;
                a {
                    color: #21A0A7;
                    &:hover {
                        color: $p;
                    }
                }
            }
            &-title {
                font-size: 34px;
                line-height: 1.28;
                a {
                    &:hover {
                        color: $p;
                    }
                }
            }
        }
    }
    &-sidebar {
        flex: 0 0 40%;
        max-width: 40%;
        &-title {
            color: #6A6A6C;
            font-size: 16px;
            margin-bottom: 29px;
        }
    }
}
.alm-btn-wrap {
    max-width: 570px;
    text-align: center;
}
.popular-article {
    margin-bottom: 29px;
    &-meta {
        font-size: 14px;
        color: #B5B5BA;
        margin-bottom: 10px;
        .article-meta-category {
            margin-right: 7px;
        }
        a {
            color: #21A0A7;
            &:hover {
                color: $p;
            }
        }
    }
    &-link {
        font-size: 24px;
        line-height: 1.25;
        a {
            color: $s;
            &:hover {
                color: $p;
            }
        }
    }
}
.blog-search-wrap {
    margin-top: -4px;
    margin-left: auto;
    max-width: 310px;
    position: relative;
    padding-left: 32px;
}
.blog-search-line {
    display: none;
}
input.blog-search-text {
    border: 0;
    background: $w;
    font-size: 16px;
    height: 32px;
    color: $text;
    width: 100%;
    &::placeholder {
        color: #A9A9AA;
    }
}
input.blog-search-button {
    border: 0;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
    background: $tr url('../upload/ic_search-dark.svg') no-repeat 50% 50%;
    background-size: 16px 16px;
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    transition: opacity $d $f;
    &:hover {
        opacity: 0.6;
    }
}

.no-amp-single {
    audio {
        width: 100%;
    }
    .wrap {
        margin: 0 auto;
        max-width: 1460px;
        padding: 0 15px;
    }
    .flex,
    .wrap {
        display: flex;
    }
    .wrap,
    .flex-wrap {
        flex-wrap: wrap;
    }
    .flex-justify {
        justify-content: center;
    }
    .flex-align {
        align-items: center;
    }
    .flex-reverse {
        flex-direction: row-reverse;
    }
    .col {
        max-width: 100%;
        padding: 0 15px;
        &-full {
            flex: 0 0 100%;
        }
        &-grow {
            flex-grow: 1;
        }
        &-4 {
            flex: 0 0 25%;
            max-width: 25%;
        }
        &-3 {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
        &-2 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    .show {
        display: block;
    }
    .hide {
        display: none;
    }
    .transition-opacity {
        transition: opacity $d $f;
        will-change: opacity;
        &:hover {
            opacity: 0.8;
        }
    }
    .transition-color {
        transition: color $d $f;
    }
    .d-none {
        display: none;
    }

    //header amp
    .header-amp {
        color: $w;
        position: absolute;
        z-index: 50;
        left: 0;
        top: 0;
        width: 100%;
        padding-top: 29px;
    }
    .logo {
        display: inline-block;
        margin-top: 2px;
        svg {
            display: block;
            width: 61px;
            height: 29px;
        }
    }
    .header-line {
        margin-top: 23px;
        height: 1px;
        background: $w;
        opacity: 0.1;
    }
    .header-account {
        width: 34px;
        height: 34px;
        overflow: hidden;
        border-radius: 50%;
        margin-top: -1px;
    }
    .header-navigation-list {
        a, button {
            font-size: 15px;
            background-color: transparent;
            border: 0;
            color: $w;
            font-weight: 500;
            line-height: 2;
            display: inline-block;
            &:hover {
                color: $p;
            }
            &.header-navigation-add {
                padding-left: 24px;
                position: relative;
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    top: 8px;
                    left: 6px;
                    width: 2px;
                    height: 14px;
                    background: $p;
                }
                &:after {
                    left: 0;
                    top: 14px;
                    height: 2px;
                    width: 14px;
                }
            }
        }
        & > li {
            margin-left: 40px;
            &:first-child {
                margin-left: 10px;
            }
        }
    }
    .search-form {
        position: relative;
    }
    .search-icon {
        position: absolute;
        left: 2px;
        top: 7px;
        opacity: 0.2;
    }
    input.header-search {
        border-radius: 0;
        color: $w;
        position: relative;
        width: 300px;
        background: transparent;
        border: 0;
        height: 32px;
        border-radius: 0;
        font-size: 15px;
        padding-left: 32px;
        font-family: "Larsseit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        &::placeholder {
            color: rgba(255, 255, 255, 0.6);
        }
    }

    //footer amp
    .footer-amp {
        padding: 30px 0 20px;
        font-size: 15px;
    }
    .footer-line {
        height: 1px;
        background: #28282A;
        opacity: 0.1;
        margin-bottom: 17px;
    }
    .copyright {
        color: #B5B5BA;
    }
    .footer-navigation-list {
        justify-content: flex-end;
        li {
            padding: 0 0 0 19px;
        }
        a {
            color: #6A6A6C;
            &:hover {
                color: #28282A;
            }
        }
    }

    //radio amp
    .radio {
        text-align: center;
        padding: 124px 0 40px;
        min-height: 800px;
        background: #101011;
        color: $w;
        position: relative;
        a {
            color: $w;
        }
        .wrap {
            //position: relative;
        }
    }
    .radio-background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        background: transparent 50% 50% no-repeat;
        background-size: cover;
    }
    .raio-live {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 11px;
        span {
            display: inline-block;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                margin-top: -3px;
                left: -14px;
                width: 6px;
                height: 6px;
                background: #D0021A;
                border-radius: 50%;
            }
        }
    }
    .radio-title {
        font-size: 36px;
        margin-bottom: 20px;
    }
    .radio-info-list {
        margin-bottom: 46px;
        & > li {
            margin: 0 16px;
            position: relative;
            &:hover {
                .shows-lightbox {
                    visibility: visible;
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }
    }
    .shows-lightbox {
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s linear;
        overflow: auto;
        text-align: center;
        width: 260px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        background: #e7e7e7;
        border-radius: 4px;
        padding: 10px 0 15px;
        white-space: nowrap;
        .url-entry {
            display: block;
        }
        a {
            color: #6f6f6f;
            display: block;
            padding: 5px 20px;
            &.active {
                font-weight: 500;
            }
            &:hover,
            &.active {
                color: #2a2a2a;
            }
        }
    }
    .radio-info-line {
        width: 12px;
        height: 1px;
        background: $w;
        display: block;
        margin: 0 auto;
    }
    .radio-info-button {
        background: transparent;
        color: $w;
        border: 0;
        font-size: 18px;
    }
    .radio-artwork {
        max-width: 380px;
        margin: 0 auto 15px;
    }
    .radio-audio {
        flex: 0 0 380px;
        max-width: 380px;
        padding: 0 60px;
    }
    .radio-toolbar-normal {
        flex: 0 0 157px;
        max-width: 157px;
        padding: 0 4px;
        svg {
            display: inline-block;
            margin-right: 5px;
            vertical-align: top;
        }
    }
    .radio-toolbar-small {
        flex: 0 0 46px;
        max-width: 46px;
        padding: 0 4px;
        .radio-button {
            font-size: 0;
            color: transparent;
        }
    }
    .radio-button {
        width: 100%;
        background: transparent;
        color: $w;
        height: 38px;
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 0.2);
        font-size: 14px;
        font-weight: 500;
        border-radius: 19px;
        transition: background-color $d $f;
        &:hover {
            background-color: rgba(255, 255, 255, 0.08);
        }
    }
    .radio-audio-info {
        margin-bottom: 46px;
    }
    .radio-song {
        margin-bottom: 4px;
        font-size: 14px;
        font-weight: bold;
    }
    .radio-artist {
        font-size: 12px;
        opacity: 0.4;
    }
    .radio-audio-wrap {
        // min-height: 70px;
        // padding: 0 10px;
        // background: #E7E7E7;
        // border-radius: 35px;
        audio::-webkit-media-controls-panel {
            background: #E7E7E7;
        }
    }

    //get app
    .get-app {
        padding: 24px 0 15px;
        background: #f3f3f3;
        h3 {
            text-align: center;
            font-size: 18px;
            font-weight: normal;
            color: #6A6A6C;
            margin-bottom: 8px;
        }
    }
    .get-app-list {
        margin-left: -5px;
        margin-right: -5px;
        li {
            padding: 15px 5px;
        }
    }
    .get-app-link {
        display: block;
        width: 182px;
        height: 58px;
        border-radius: 4px;
        background: $black;
        font-size: 14px;
        font-weight: 500;
        padding: 8px 0 0 60px;
        position: relative;
        color: $w;
        svg {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }
    .get-app-note {
        font-size: 12px;
        display: block;
        opacity: 0.4;
    }

    //station
    .past-episode {
        margin-bottom: 30px;
        &-title {
            color: #6A6A6C;
            font-size: 16px;
            margin-bottom: 8px;
        }
    }
    .stations {
        padding-top: 30px;
        padding-bottom: 25px;
        h6 {
            color: #B5B5BA;
            font-size: 13px;
            font-weight: normal;
            margin: 0;
        }
        h4 {
            font-size: 29px;
            color: #28282A;
            font-weight: normal;
            margin-bottom: 30px;
        }
        .wrap {
            max-width: 1230px;
        }
    }
    .station {
        display: block;
        margin-bottom: 29px;
    }
    .station-link {
        display: block;
        color: $s;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: -4px;
            left: -4px;
            right: -4px;
            bottom: -15px;
            background: $w;
            border: 2px solid #f3f3f3;
            border-radius: 12px;
            opacity: 0;
            transform: scale(0.98);
            //box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.15);
            transition: transform $d*1.5 $f, opacity $d*1.5 $f;
            will-change: opacity;
        }
        &:hover {
            color: $s;
            &:after {
                opacity: 1;
                transform: none;
            }
            .station-poster {
                &:before {
                    opacity: 0.1;
                }
            }
        }
    }
    .station-poster {
        display: block;
        position: relative;
        z-index: 2;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: $w;
            opacity: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            border-radius: 8px;
            transition: opacity $d $f;
        }
    }
    .station-poster-image {
        display: block;
    }
    .station-poster-img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
    .station-labels {
        position: absolute;
        left: 10px;
        top: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .station-label {
        background: $p;
        color: $w;
        margin: 0 10px 10px 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        border-radius: 14px;
        padding: 3px 14px 4px;
    }
    .station-tags {
        position: absolute;
        left: 10px;
        bottom: 0;
        display: flex;
        flex-wrap: wrap;
    }
    .station-tag {
        color: $s;
        background: rgba(255, 255, 255, 0.9);
        margin: 0 10px 10px 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        border-radius: 14px;
        padding: 3px 14px 4px;
    }
    .station-title {
        display: block;
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        padding: 13px 0 7px;
        z-index: 2;
        position: relative;
    }
    .station-meta {
        display: block;
        text-align: center;
        font-size: 14px;
        color: #6A6A6C;
        position: relative;
        z-index: 2;
    }
    .station-location {
        display: inline-block;
        color: #6A6A6C;
        position: relative;
        padding-left: 23px;
        font-weight: bold;
        margin: 0 4px;
        svg {
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -1px;
            transform: translate3d(0, -50%, 0);
        }
    }
    .station-languages {
        display: inline-block;
        color: #B5B5BA;
        margin: 0 2px;
    }
    .station-language {
        &:after {
            content: ", ";
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }


    //modal
    .lightbox {
        position: absolute;
        left: 0;
        top: 0;
        color: $w;
        background: rgba(0,0,0,.9);
        width: 100%;
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .amp-lightbox {
        z-index: 9090;
    }
    .lightbox-content {
        flex: 0 0 100%;
        max-width: 1030px;
        padding: 43px 30px 10px;
    }
    .about {
        p {
            font-size: 20px;
            line-height: 1.6;
            margin-bottom: 32px;
        }
    }
    .about-subtitle {
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 30px;
    }
    .about-caption {
        padding-bottom: 10px;
        margin-bottom: 31px;
        align-items: flex-start;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .about-info {
        flex-grow: 1;
        padding-right: 30px;
    }
    .about-title {
        position: relative;
        font-size: 40px;
        line-height: 1.1;
        margin-bottom: 23px;
        .shows-lightbox {
            // visibility: visible;
            // opacity: 1;
            // pointer-events: auto;
            transform: none;
            left: 0;
            right: auto;
            font-size: 16px;
            .url-entry {
                margin: 5px 0;
            }
        }
        &:hover {
            .shows-lightbox {
                visibility: visible;
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
    .about-title-drop {
        display: inline-block;
        position: relative;
        padding-right: 40px;
        svg {
            right: 0;
            top: 50%;
            margin-top: -10px;
            width: 28px;
            height: 28px;
            position: absolute;
        }
    }
    .about-info-row {
        align-items: flex-start;
        padding-bottom: 10px;
    }
    .about-info-tags {
        padding-right: 20px;
        .station-tags {
            position: static;
            left: auto;
            bottom: auto;
        }
    }
    .about-info-location {
        padding: 4px 10px 10px 0;
        .station-location {
            display: block;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.8);
            padding-left: 20px;
            margin: 0;
        }
    }
    .about-info-languages {
        padding: 4px 30px 10px 0;
        .station-languages {
            display: block;
            margin: 0;
            font-size: 14px;
            color: rgba(181, 181, 186, 0.6);
        }
    }
    .about-info-like {
        padding: 4px 10px 10px 0;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
    }
    .about-social-wrapper {
        flex-shrink: 0;
    }
    .about-social {
        display: flex;
        align-items: center;
        padding-top: 10px;
        li {
            padding-right: 30px;
            a {
                display: block;
                opacity: 0.3;
                transition: opacity 0.15s cubic-bezier(0.4, 0.0, 0.2, 1);
                will-change: opacity;
                svg {
                    display: inline-block;
                    vertical-align: top;
                }
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
    .lightbox-close {
        flex: 0 0 30px;
        max-width: 30px;
        height: 30px;
        margin: 7px -4px 20px;
        position: relative;
        opacity: 0.4;
        transition: opacity 0.15s cubic-bezier(0.4, 0.0, 0.2, 1);
        will-change: opacity;
        background: transparent;
        border: 0;
        padding: 0;
        font-size: 0;
        line-height: 0;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -1px;
            left: 0;
            right: 0;
            height: 2px;
            background: #C7C7C7;
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
        &:hover {
            opacity: 0.6;
        }
    }

    .navigation-sidebar {
        background: $s;
    }
    .sidebar-close,
    .navigation-toggle {
        font-size: 0;
        line-height: 0;
        display: none;
        position: relative;
        width: 32px;
        height: 32px;
        z-index: 5050;
        border: 0;
        padding: 0;
        background: transparent;
    }
    .sidebar-close {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .sidebar-close-icon,
    .navigation-toggle-icon {
        position: absolute;
        top: 50%;
        left: 6px;
        right: 6px;
        height: 2px;
        background: $p;
        transform: translate3d(0, -50%, 0);
        transition: background-color $d $f;
        border-radius: 1px;
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            background: $p;
            transform: translate3d(0, -6px, 0);
            transition: transform $d $f;
            border-radius: 1px;
        }
        &:after {
            transform: translate3d(0, 6px, 0);
        }
    }
    .sidebar-close-icon {
        background-color: transparent;
        &:after {
            transform: rotate(-45deg);
        }
        &:before {
            transform: rotate(45deg);
        }
    }

    .navigation-sidebar {
        padding: 50px;
        .header-navigation-list {
            a, button {
                &.header-navigation-add {
                    margin-left: -24px;
                }
            }
            & > li {
                margin-left: 0;
            }
        }
        .search-form {
            margin-left: -32px;
        }
        input.header-search {
            width: 120px;
        }
    }

    .schedule-group {
        font-size: 16px;
        margin-bottom: 46px;
    }
    .schedule-group-title {
        color: #6A6A6C;
        margin-bottom: 10px;
    }
    .schedule-list-title {
        color: #6A6A6C;
        font-size: 16px;
        margin-bottom: 20px;
    }
    .schedule-list {
        margin-left: -30px;
        margin-right: -30px;
        padding-bottom: 30px;
        &::after {
            clear: both;
            content: "";
            display: table;
        }
    }
    .schedule-item {
        width: 50%;
        float: left;
        padding: 0 30px 35px;
    }
    .schedule-item-info {
        font-size: 16px;
        margin-bottom: 12px;
    }
    .schedule-item-meta {
        flex: 0 0 calc(100% - 135px);
        max-width: calc(100% - 135px);
    }
    .schedule-item-meta-nowrap {
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .schedule-item-duration {
        color: #6A6A6C;
        padding-left: 10px;
        text-align: right;
        white-space: nowrap;
        flex: 0 0 135px;
        max-width: 135px;
        span {
            padding-left: 10px;
            color: $w;
        }
    }
    .schedule-item-player {
        background: #E7E7EE;
        min-height: 50px;
        border-radius: 25px;
    }


    .demo-panel {
        color: $w;
        text-align: center;
        background: #54D933;
        padding: 50px;
        button {
            margin-left: 20px;
            padding: 10px;
            color: $w;
            border: 1px solid $w;
            background-color: transparent;
            border-radius: 5px;
        }
    }
    .panel {
        position: relative;
        background: #1e1e1e;
    }
    .chat-iframe {
        display: block;
        margin: 0;
    }
    .chat-close {
        font-size: 0;
        border: 0;
        background: transparent;
        right: 11px;
        top: 19px;
        width: 40px;
        height: 40px;
        position: absolute;
        opacity: 0.2;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -1px;
            left: 9px;
            right: 9px;
            height: 2px;
            background: #C7C7C7;
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
        &:hover {
            opacity: 0.6;
        }
    }
    .iframe-overflow {
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        top: 0;
        background: #1e1e1e;
        span {
            color: $w;
            position: absolute;
            left: 10px;
            right: 10px;
            top: 50%;
            margin-top: -10px;
            font-size: 14px;
            text-align: center;
        }
    }
    #panels {
        height: 0;
        display: block;
        font-size: 0;
        line-height: 0;
    }
    .panel-share {
        padding: 60px 30px 50px;
        text-align: center;
    }
    .cookies {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10900;
        background: rgba(0, 0, 0, 0.85);
        color: $w;
        padding: 20px 0;
        .link {
            color: $p;
        }
    }
    .cookies-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 1200px;
        margin: 0 auto;
    }
    .cookies-content {
        padding: 10px 0
    }
    .cookies-nav {
        white-space: nowrap;
        padding: 10px 0 10px 20px;
    }
    .cookies-nav .button {
        font-size: 16px;
        font-weight: bold;
        border-radius: 21px;
        border: 1px solid $p;
        color: $text;
        line-height: 1.25;
        background-color: $p;
        display: inline-block;
        padding: 10px 29px;
        height: auto;
        transition: color $d $f, background-color $d $f, border-color $d $f;
    }

    @media (max-width: 991px) {
        .wrap,
        .col {
            padding-left: 10px;
            padding-right: 10px;
        }
        .m-order-st {
            order: -1;
        }
        .col-m-full {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-m-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .col-m-grow {
            flex-grow: 1;
        }
        .m-none,
        .col-m-none {
            display: none;
        }
        .d-none {
            display: block;
        }

        //header
        .header-amp {
            padding-top: 10px;
        }
        .header-line {
            margin-top: 10px;
        }
        .navigation-toggle {
            display: block;
        }

        //footer
        .footer-amp {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .copyright {
            margin-bottom: 18px;
        }
        .footer-navigation-list {
            margin-left: -21px;
            justify-content: flex-start;
            li {
                padding-left: 21px;
                margin-bottom: 10px;
            }
        }
        .footer-line {
            margin-bottom: 14px;
        }

        //radio amp
        .radio {
            padding-top: 92px;
        }
        .raio-live {
            margin-bottom: 3px;
        }
        .radio-title {
            font-size: 30px;
            margin-bottom: 10px;
        }
        .radio-artwork {
            width: 52.238%;
            margin-bottom: 10px;
        }
        .radio-info-list {
            margin-bottom: 33px;
        }
        .radio-toolbar {
            margin-left: auto;
            margin-right: auto;
            max-width: 320px;
        }
        .radio-audio {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 20px;
        }
        .radio-audio-info {
            margin-bottom: 32px;
        }
        .radio-toolbar-normal {
            flex: 0 0 50%;
            max-width: 50%;
            padding-bottom: 8px;
        }
        .radio-toolbar-small {
            order: 1;
        }

        //get app
        .get-app-link {
            width: 160px;
        }

        //station
        .stations {
            padding-bottom: 8px;
            h6 {
                text-align: center;
            }
            h4 {
                font-size: 30px;
                text-align: center;
                margin-bottom: 22px;
            }
        }
        .station {
            margin-bottom: 20px;
        }
        .station-title {
            font-size: 16px;
            font-weight: bold;
        }
        .station-tags {
            display: none;
        }
        .station-meta {
            font-size: 13px;
        }
        .station-languages {
            display: none;
        }
        .station-title {
            padding-bottom: 4px;
        }
        .station-location {
            margin-left: -10px;
            svg {
                left: 6px;
                width: 10px;
            }
        }

        //modal
        .lightbox-content {
            max-width: 100%;
            padding-left: 20px;
            padding-right: 20px;
        }
        .about {
            p {
                font-size: 18px;
                line-height: 1.6667;
                margin-bottom: 30px;
            }
        }
        .about-subtitle {
            font-size: 20px;
            line-height: 1.6;
            margin-bottom: 20px;
        }
        .about-caption {
            margin-bottom: 21px;
        }
        .about-info {
            padding-right: 10px;
        }
        .about-title {
            font-size: 30px;
            line-height: 1.2;
            padding-right: 10px;
            margin-bottom: 11px;
        }
        .about-info-row {
            padding-top: 6px;
            padding-bottom: 0;
        }
        .about-info-tags {
            padding-right: 10px;
            .station-tags {
                display: flex;
            }
        }
        .about-info-location {
            .station-location {
                svg {
                    left: 0;
                    width: 12px;
                }
            }
        }
        .about-info-languages {
            padding-right: 20px;
        }
        .about-social-wrapper {
            display: none;
        }
        .lightbox-close {
            flex: 0 0 26px;
            max-width: 26px;
            height: 26px;
            margin: 5px -4px 10px 0;
        }
        .schedule-list {
            margin-left: 0;
            margin-right: 0;
        }
        .schedule-item {
            width: 100%;
            float: none;
            padding-left: 0;
            padding-right: 0;
        }
        .schedule-group {
            margin-bottom: 30px;
        }
        .schedule-list-title,
        .schedule-group-title {
            margin-bottom: 5px;
        }
        .radio-info-list {
            & li {
                margin-left: 8px;
                margin-right: 8px;
            }
        }
        .radio-info-line {
            width: 10px;
        }
        .shows-lightbox {
            left: auto;
            right: 0;
            transform: none;
            a {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .about-title-drop {
            padding-right: 36px;
            svg {
                margin-top: -9px;
                width: 22px;
                height: 22px;
            }
        }
    }

    //fetures
    .relative {
        position: relative;
    }
    .radio-col {
        // flex: 0 0 calc(100% - 420px);
        // max-width: calc(100% - 420px);
        flex: 0 0 100%;
        max-width: 100%;
    }
    .features-section-col {
        position: absolute;
        right: 0;
        top: 90px;
        bottom: 0;
        flex: 0 0 420px;
        max-width: 420px;
        width: 420px;
        // background: #f0f;
        padding-right: 0;
        padding-left: 0;
    }
    .features-section {
        max-height: 100%;
        height: 100%;
        overflow: auto;
        background: #28282A;
        padding: 20px 30px 15px;
        color: #ffffff;
        line-height: 1.5;
        text-align: left;
        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-track {
            background: #28282A;
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgba(255, 255, 255, 0.3);
          border-radius: 4px;
          outline: none;
        }
    }
    .features-mobile-qr {
        background: #28282A;
        padding: 100px 30px 100px;
        min-height: 100vh;
        max-height: 100vh;
        overflow: auto;
    }
    .qr-lightbox-image {
        overflow: hidden;
        border-radius: 10px;
    }
    .features-title {
        font-size: 28px;
        margin-bottom: 0px;
    }
    .features-note {
        font-size: 16px;
        margin-bottom: 14px;
    }
    .features-navigation {
        margin-bottom: 20px;
    }
    .button {
        color: $w;
        font-weight: bold;
        display: block;
        width: 100%;
        height: 52px;
        background: #F5AB19;
        border-radius: 26px;
        font-size: 18px;
        padding: 0 10px;
        text-align: center;
        line-height: 50px;
        border: 0;
    }
    .features-why {
        font-size: 16px;
        margin-bottom: 20px;
        ul {
            li {
                position: relative;
                padding-left: 26px;
                margin-bottom: 3px;
            }
        }
        svg {
            position: absolute;
            left: 0;
            top: 5px;
        }
    }
    .features-why-title {
        font-weight: bold;
        margin-bottom: 3px;
    }
    .features-get {
        margin-bottom: 6px;
        .get-app-list li {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .get-app-link {
            width: 100%;
        }
    }
    .features-get-title {
        font-size: 16px;
        margin-bottom: 0px;
        font-weight: bold;
        margin-bottom: -4px;
    }
    .features-qr {
        font-size: 16px;
    }
    .features-qr-title {
        font-weight: bold;
        margin-bottom: 2px;
    }
    .features-qr-note {
        margin-bottom: 8px;
    }
    .qr-button-img {
        display: block;
        width: 100%;
        max-width: 150px;
        border-radius: 6px;
        border: 0;
        padding: 0;
    }
    .qr-img {
        display: block;
        border-radius: 6px;
    }
    .features-shop {
        margin-bottom: 20px;
    }
    .features-shop-title {
        font-weight: bold;
        margin-bottom: 8px;
    }
    .features-shop-title a {
        color: $w;
    }
    .features-shop-image {
        display: block;
        width: 100%;
        max-width: 150px;
        border-radius: 6px;
        border: 0;
        background: $w;
        padding: 8px;
        margin: 0 0 10px;
    }
    .shop-img {
        display: block;
        border-radius: 6px;
    }
    .features-shop-note {
        font-size: 14px;
    }
    .close-lightbox {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 42px;
        height: 42px;
        border: 0;
        border-radius: 50%;
        background: #F5AB19;
        svg {
            position: absolute;
            left: 15px;
            top: 15px;
        }
    }
    .close-lightbox-transparent {
        position: absolute;
        right: 20px;
        top: 36px;
        opacity: 0.3;
    }

    @media (max-width: 1366px) {
        .radio {
            .wrap {
                position: relative;
            }
        }
        .radio-col {
            flex: 0 0 calc(100% - 420px);
            max-width: calc(100% - 420px);
        }
        .features-section-col {
            position: relative;
            top: auto;
            flex: 0 0 420px;
            max-width: 420px;
            width: auto;
            bottom: auto;
            top: auto;
            left: 15px;
            margin-top: -34px;
            margin-bottom: -38px;
        }
    }

    @media (max-width: 991px) {
        .radio {
            min-height: 0;
        }
        .radio-col {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .become-member {
            margin-left: -20px;
            margin-right: -20px;
            margin-top: -34px;
            margin-bottom: 18px;
            .button {
                border: 0;
                color: $w;
                border-radius: 0;
            }
        }
        .features-section-mobile {
            padding-top: 28px;
            padding-left: 20px;
            padding-right: 20px;
            min-height: 100vh;
            margin: 0;
            max-height: 100vh;
            overflow: auto;
            .button {
                font-size: 16px;
                line-height: 44px;
                height: 44px;
            }
        }
        .features-title {
            font-size: 26px;
        }
        .features-note {
            font-size: 16px;
        }
        .features-get-title {
            margin-bottom: 0px;
        }
    }


    @media (max-width: 767px) {
        .col-xs-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}
.audio-custom {
    display: flex;
    align-items: center;
    line-height: 1.2;
    margin: 20px 0;
    &-navigation {
        position: relative;
        flex: 0 0 44px;
        max-width: 44px;
        height: 44px;
    }
    &-toggle {
        top: 0;
        left: 0;
        position: absolute;
        width: 44px;
        height: 44px;
        border: 1px solid rgba($s, 0.2);
        transition: opacity $d $f;
        border-radius: 50%;
        &:after,
        &:before {
            content: "";
            transition: opacity $d $f, transform $d $f;
            width: 44px;
            height: 44px;
            position: absolute;
            left: -1px;
            top: -1px;
            border-radius: 50%;
            background: transparent url('../upload/ic_pause.svg') 50% 50% no-repeat;
            background-size: 10px;
            opacity: 0;
        }
        &:before {
            transform: scale(0.5);
        }
        &:after {
            opacity: 1;
            background-image: url('../upload/ic_play-dark.svg');
            background-position: 54% 50%;
            background-size: 14px 16px;
        }
    }
    &-content {
        padding-left: 15px;
        flex: 0 0 calc(100% - 44px);
        max-width: calc(100% - 44px);
    }
    &-title {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        max-width: 100%;
        color: $s;
        font-size: 18px;
        margin-bottom: 4px;
        font-weight: 500;
    }
    &-duration {
        font-size: 13px;
        color: #B5B5B6;
    }
    &.active {
        .audio-custom-toggle {
            &:before {
                opacity: 1;
                transform: scale(1);
            }
            &:after {
                opacity: 0;
                transform: scale(0.5);
            }
        }
    }
}

