/* footer */
.footer-global {
    margin-top: -$footer;
    height: $footer;
    font-size: 16px;
    color: #B5B5BA;
    padding-bottom: 15px;
    a {
        color: #6A6A6C;
        &:hover {
            color: #28282A;
        }
    }
}
.footer-line {
    height: 1px;
    font-size: 0;
    background: #e9e9e9;
    margin-bottom: 17px;
}
.footer-navigation-list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    li {
        margin: 0 0 0 19px;
        &:first-child {
            margin-left: 0;
        }
    }
}
.player-active {
    .footer-global {
        margin-top: -$footer + 70px;
        height: $footer + 70px;
    }
}
.cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10900;
    background: rgba(0, 0, 0, 0.85);
    color: $w;
    padding: 20px 0;
    .link {
        color: $p;
    }
}
.cookies-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.cookies-content {
    padding: 10px 0
}
.cookies-nav {
    white-space: nowrap;
    padding: 10px 0 10px 20px;
}
