/* header */
.header-alert {
    background: $p;
    color: $text;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 10px 9px;
    text-align: center;
    overflow: hidden;
    line-height: 1.4;
    a {
        color: $text;
        text-decoration: none;
        border-bottom: 1px solid rgba($text, 0.5);
        &:hover {
            color: rgba($text, 0.8);
        }
    }
    p {
        margin: 0;
    }
}
.top-navbar {
    display: none;
    background: #F3F3F3;
    font-size: 20px;
    color: #6A6A6C;
    overflow: hidden;
    a {
        display: block;
        padding: 5px 15px;
        color: #6A6A6C;
        border-radius: 20px;
        &:hover {
            color: $text;
            background-color: rgba($black, 0.05);
        }
    }
    &-list {
        margin: 0 -30px;
        padding: 15px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            margin: 10px 15px;
        }
    }
}
.header-global {
    padding: 32px 0 27px;
    position: absolute;
    z-index: 5050;
    left: 0;
    right: 0;
    top: 0;
}
.header-push-dark {
    height: 89px;
    background: #101011;
}
.logo {
    margin-top: -1px;
    background: transparent url('../upload/logo.svg') 50% 50% no-repeat;
    background-size: 61px;
    width: 61px;
    height: 29px;
    font-size: 0;
    line-height: 0;
    &-link {
        display: block;
        width: 61px;
        height: 29px;
    }
}
.header-navigation-list {
    display: flex;
    font-size: 15px;
    line-height: 2;
    font-weight: 500;
    a {
        color: $w;
        display: inline-block;
        &:hover {
            color: $p;
        }
        &.header-navigation-add {
            padding-left: 24px;
            position: relative;
            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 8px;
                left: 6px;
                width: 2px;
                height: 14px;
                background: $p;
            }
            &:after {
                left: 0;
                top: 14px;
                height: 2px;
                width: 14px;
            }
        }
    }
    & > li {
        margin-left: 40px;
        &:first-child {
            margin-left: 10px;
        }
        span {
            &.header-navigation-or {
                display: inline-block;
                padding: 0 6px;
                font-weight: normal;
                color: rgba(255, 255, 255, 0.6);
            }
        }
    }
}
.header-search {
    margin-left: 10px;
    width: 285px;
    position: relative;
}
input.ais-SearchBox-input,
input.header-search-input {
    color: $w;
    width: 100%;
    background: $tr;
    border: 0;
    height: 30px;
    border-radius: 0;
    font-size: 15px;
    padding-left: 32px;
    transition: color $d $f;
    text-overflow: ellipsis;
    white-space: nowrap;
    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
    &:focus {
        &::placeholder {
            color: rgba(255, 255, 255, 0.2);
        }
    }
}
button.ais-SearchBox-submit,
input.header-search-button {
    position: absolute;
    left: -6px;
    top: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    border: 0;
    background: transparent url('../upload/ic_search.svg') 50% 44% no-repeat;
    opacity: 0.2;
    transition: opacity $d $f;
    &:hover {
        opacity: 0.6;
    }
}
.ais-SearchBox-loadingIndicator,
.ais-SearchBox-reset {
    display: none !important;
}
.notification-link {
    opacity: 0.8;
    display: block;
    width: 30px;
    height: 30px;
    background: transparent url('../upload/ic_notifications.svg') 50% 50% no-repeat;
    background-size: 16px 16px;
    transition: opacity $d $f;
    font-size: 0;
    line-height: 0;
    &:hover {
        opacity: 1;
    }
}
.account-link {
    border-radius: 50%;
    display: block;
    width: 34px;
    height: 34px;
    background: $text 50% 50% no-repeat;
    background-size: cover;
    font-size: 0;
    line-height: 0;
}
.header-toolbar-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -2px;
    margin-bottom: -2px;
    li {
        margin-left: 33px;
    }
}
.top-toggle {
    display: block;
}
.top-toggle,
.navigation-toggle {
    font-size: 0;
    line-height: 0;
    display: none;
}
.search-link {
    opacity: 0.8;
    display: block;
    width: 32px;
    height: 32px;
    background: transparent url('../upload/ic_search.svg') 50% 50% no-repeat;
    background-size: 16px 16px;
    transition: opacity $d $f;
    font-size: 0;
    line-height: 0;
    &:hover {
        opacity: 1;
    }
}
.top-toggle,
.navigation-toggle {
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    z-index: 5050;
}
.top-toggle-icon,
.navigation-toggle-icon {
    position: absolute;
    top: 50%;
    left: 6px;
    right: 6px;
    height: 2px;
    background: $p;
    transform: translate3d(0, -50%, 0);
    transition: background-color $d $f;
    border-radius: 1px;
    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background: $p;
        transform: translate3d(0, -6px, 0);
        transition: transform $d $f;
        border-radius: 1px;
    }
    &:after {
        transform: translate3d(0, 6px, 0);
    }
}
.navigation-open {
    .navigation-toggle-icon {
        background-color: $tr;
        &:after {
            transform: rotate(-45deg);
        }
        &:before {
            transform: rotate(45deg);
        }
    }
}
.top-open {
    .top-toggle-icon {
        background-color: $tr;
        &:after {
            transform: rotate(-45deg);
        }
        &:before {
            transform: rotate(45deg);
        }
    }
}
.header-background {
    background: #000;
    height: 88px;
}
a.autocomplete-item {
    display: flex;
    //background: $w;
    color: $text;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    &:hover {
        background-color: #eee;
    }
}
.aa-cursor {
    background-color: #eee;
}
.autocomplete-item-thumb {
    flex: 0 0 20%;
    max-width: 20%;
    display: block;
}
.autocomplete-item-content {
    flex-grow: 1;
    padding-left: 20px;
    display: block;
}
.autocomplete-item-img {
    display: block;
    padding-top: 100%;
    height: 0;
    border-radius: 4px;
    background: $s no-repeat 50% 50%;
    background-size: cover;
}
.aa-dropdown-menu {
    background: $w;
    width: 320px;
    box-shadow: 0 1px 2px 0 rgba(123, 122, 116, 0.1);
    border-radius: 8px;
    padding: 5px;
}
.autocomplete-item-title {
    display: block;
    font-size: 14px;
    font-weight: 500;
    em {
        display: inline-block;
        border-radius: 2px;
        background-color: $p;
        font-style: normal !important;
    }
}
.autocomplete-item-meta {
    display: block;
    font-size: 12px;
    color: #B5B5BA;
}
.algolia-autocomplete {
    display: block;
    width: 100%;
}
.aa-suggestions-category {
    font-weight: 500;
    color: $text;
    display: block;
    font-size: 22px;
    padding: 10px 9px 5px;
}