/* responsive */
@include media-breakpoint-down(xl) {
}
@include media-breakpoint-down(lg) {
    .header-search {
        width: 130px;
    }
    input.ais-SearchBox-input,
    input.header-search-input {
        font-size: 14px;
    }
    .podcast-hero-content {
        h1 {
            font-size: 50px;
            line-height: 1.2;
        }
    }
}
@include media-breakpoint-down(md) {
    .aa-dropdown-menu {
        left: -100px !important;
    }
    .header-search {
        width: 100px;
    }
    .main {
        min-height: 0;
        padding-bottom: 0;
    }
    .footer-global {
        margin-top: 0;
        height: auto;
    }
    .player-active {
        .footer-global {
            margin-top: 0;
            height: auto;
            padding-bottom: 15px + 113px;
        }
    }
    .footer-line {
        margin-bottom: 14px;
    }
    .copyright {
        margin-bottom: 18px;
    }
    .header-global {
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .header-toolbar-list {
        margin-top: -1px;
        margin-right: -6px;
        li {
            margin-left: 15px;
        }
    }
    .notification-link,
    .search-link {
        opacity: 0.4;
        &:hover {
            opacity: 1;
        }
    }
    .hero {
        padding-top: 57px;
        height: 500px;
        .slick-dots {
            bottom: 18px;
        }
        .slick-dots li button {
            opacity: 0.5;
            background-color: $w;
        }
    }
    .hero-inside {
        padding-top: 57px;
    }
    .hero-inside-title {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .hero-station-meta {
        margin-bottom: 6px;
    }
    .hero-header {
        height: 123px;
        padding-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-bottom: 0;
    }
    .hero-station-title {
        font-size: 24px;
        margin-bottom: 17px;
    }
    .hero-station-tags {
        margin-bottom: 9px;
    }
    .station-play {
        font-size: 16px;
        padding-left: 50px;
        line-height: 36px;
    }
    .station-play-button {
        width: 36px;
        height: 36px;
        &:after,
        &:before {
            width: 36px;
            height: 36px;
            background-size: 11px;
        }
        &:before {
            background-size: 8px;
        }
    }
    .hero-stations {
        display: none;
    }
    .col-header-navigation {
        padding-top: 40px;
        padding-bottom: 40px;
        display: none;
        position: absolute;
        left: 0;
        right: 0px;
        top: -13px;
        margin-left: -10px;
        background: $w;
        flex: 0 0 100%;
        max-width: none;
        width: auto;
        box-shadow: 0 1px 2px 0 rgba(123, 122, 116, 0.1);
    }
    .col-header-left {
        position: static;
    }
    .header-navigation-list {
        flex-wrap: wrap;
        a {
            color: $text;
        }
        & > li {
            flex: 0 0 100%;
            max-width: 100%;
            margin-left: 0;
            padding-left: 44px;
            padding-right: 20px;
            &:first-child {
                margin-left: 0;
                padding-left: 20px;
            }
            span {
                &.header-navigation-or {
                    color: rgba($text, 0.6);
                }
            }
        }
    }
    .navigation-open {
        .col-header-navigation {
            display: block;
        }
    }
    .hero-header-title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 6px;
    }
    a.hero-header-toggle {
        font-size: 16px;
        &:before {
            background-size: 10px;
        }
    }
    .drop.active {
        a.hero-header-toggle {
            &:before {
                margin-top: 0;
            }
        }
    }
    .hero-sort-list {
        & > li {
            margin: 11px 0;
        }
    }
    .hero-filter-drop {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 200px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .hero-header-filter {
        text-align: center;
    }
    .stations-header-title {
        text-align: center;
    }
    .stations-filter {
        justify-content: center;
    }
    .container,
    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
    .row {
        margin-left: -10px;
        margin-right: -10px;
    }
    .col, .col-auto, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer-navigation-list {
        margin-right: -20px;
        justify-content: flex-start;
        li {
            margin-left: 0px;
            margin-right: 21px;
            margin-bottom: 10px;
        }
    }
    .stations-header-title {
        font-size: 30px;
    }
    .stations-header {
        padding-bottom: 0;
    }
    .stations-header-choose {
        justify-content: center;
    }
    .stations {
        margin-bottom: 20px;
        .station {
            margin-bottom: 20px;
        }
        .station-poster-image {
            height: 0;
            padding-top: 111.46%;
        }
        .col-lg-6 {
            .station-poster-image {
                height: 0;
                padding-top: 52.2388%;
            }
        }
        .station-title {
            font-size: 16px;
            font-weight: bold;
        }
        .station-tags {
            display: none;
        }
        .station-meta {
            font-size: 13px;
        }
        .station-languages {
            display: none;
        }
        .station-title {
            padding-bottom: 4px;
        }
        .station-location {
            margin-left: -10px;
            &:before {
                left: 7px;
                background-size: 10px;
            }
        }
    }
    .collections-title {
        text-align: center;
    }
    .devices {
        margin-top: 20px;
        margin-bottom: 40px;
        background-color: #F3F3F3;
        text-align: center;
        &-wrap {
            background-color: $tr;
        }
    }
    .devices-img {
        margin-right: auto;
        padding-top: 4px;
        margin-bottom: 20px;
    }
    .devices-title {
        font-size: 30px;
    }
    .devices-content {
        margin-right: 0;
        padding-left: 0;
    }
    .devices-description {
        margin: 0 auto;
    }
    .add-station {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .add-station-link {
        font-size: 30px;
    }
    .add-station-note {
        br {
            display: none;
        }
    }
    .collections {
        margin-top: 8px;
    }
    .collections-title {
        font-size: 16px;
    }
    .collection-title {
        font-size: 16px;
        font-weight: bold;
    }
    .collection-meta {
        font-size: 13px;
    }
    .collection-slider-wrap {
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 26px;
    }
    .collection-slide {
        padding-left: 20px;
        padding-right: 20px;
    }
    .filter-item {
        min-width: 0;
    }
    .filter-result-navigation {
        padding-left: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .filter-block-title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .player {
        height: 113px;
        &:before {
            display: none;
        }
    }
    .player-row {
        flex-wrap: wrap;
        margin-left: -20px;
        margin-right: -20px;
    }
    .player-col-info,
    .player-col-toolbar {
        flex: 0 0 73%;
        flex-basis: 73%;
        max-width: 73%;
    }
    .player-col-toolbar {
        flex: 0 0 27%;
        flex-basis: 27%;
        max-width: 27%;
    }
    .player-col-controls {
        flex: 0 0 100%;
        max-width: 100%;
        order: -1;
        background: #28282A;
        border-top: 3px solid $p;
        border-bottom: 1px solid #dcdcdc;
    }
    .player-controls {
        background-color: $tr;
    }
    .player-control-link {
        height: 50px;
    }
    .player-info {
        height: 59px;
    }
    .player-toolbar {
        margin-right: -15px;
    }
    .player-tool-link {
        height: 59px;
        width: 40px;
    }
    .player-meta,
    .player-tool-mobile-hide {
        display: none;
    }
    .player-info-phone a {
        text-decoration: underline;
    }
    .player-control-pause {
        &:after {
            background-image: url('../upload/ic_play.svg');
        }
        &:before {
            background-image: url('../upload/ic_pause-white.svg');
        }
    }
    .player-control-backward {
        background-image: url('../upload/ic_backward-white.svg');
    }
    .player-control-forward {
        background-image: url('../upload/ic_forward-white.svg');
    }
    .player-popup.player-popup-share {
        right: 12px;
        bottom: 57px;
    }
    .player-popup.player-popup-volume {
        right: 12px;
        max-width: 296px;
        bottom: 57px;
    }
    .ais-Pagination-item {
        margin: 3px;
    }
    .ais-Pagination-link {
        padding: 1px 5px;
        min-width: 22px;
        font-size: 14px;
    }
    .podcast-hero {
        padding-top: 57px;
        &:before {
            top: 57px;
            left: 20px;
            right: 20px;
        }
        .row {
            min-height: 443px;
            padding-bottom: 20px;
        }
    }
    .podcast-hero-content {
        h1 {
            font-size: 40px;
            line-height: 1.25;
        }
    }
    .podcast-about {
        padding: 30px 0 0;
    }
    .podcast-about-info {
        padding-bottom: 40px;
    }
    .podcast-videos-slider {
        margin-bottom: 10px;
    }
    .podcast-publish {
        .container {
            & > .row {
                min-height: 420px;
            }
        }
    }
    .podcast-publish-caption {
        h2 {
            font-size: 32px;
        }
    }
    .home-podcast {
        margin: 40px 0;
    }
    .home-podcast-title {
        font-size: 32px;
        line-height: 1.25;
    }
    //
    .header-push-dark {
        height: 56px;
    }
    .article-single {
        padding-top: 0;
        margin-top: -12px;
        h1 {
            font-size: 34px;
            padding-right: 0;
            & + p {
                margin-top: -17px;
            }
        }
        figure {
            margin-left: -170px;
            margin-right: -170px;
        }
        img {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        h2 {
            margin-top: 30px;
            line-height: 1.25;
            & + p {
                margin-top: -10px;
            }
        }
        blockquote {
            margin-top: 30px;
            margin-bottom: 30px;
            padding-left: 23px;
            padding-right: 0;
            &:before {
                left: 0;
            }
        }
    }
    .article-end {
        margin-top: 28px;
        margin-bottom: -58px;
    }
    .blog {
        padding-top: 18px;
        padding-bottom: 29px;
        &-search {
            &-wrap {
                margin: 0 auto 15px;
            }
            &-line {
                height: 1px;
                background: #28282A;
                opacity: 0.1;
                display: block;
                margin-bottom: 14px;
            }
        }
        &-hero {
            text-align: center;
            height: 550px;
            &-line {
                top: 56px;
            }
            &-content {
                bottom: 174px;
            }
            &-item {
                &-meta {
                    margin-bottom: 8px;
                }
                &-title {
                    font-size: 30px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 18px;
                }
            }
        }
        &-categories {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 12px;
            padding-right: 0;
            &-wrap {
                margin-right: -20px;
                margin-left: -20px;
            }
            ul {
                padding-left: 20px;
                li:last-child {
                    padding-right: 20px;
                }
                &::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                }
            }
        }
        &-search {
            flex: 0 0 100%;
            max-width: 100%;
        }
        &-content {
            flex: 0 0 100%;
            max-width: 100%;
            padding-right: 0;
            &-list-title {
                display: none;
            }
            &-item {
                margin-bottom: 29px;
                margin-left: auto;
                margin-right: auto;
                &-thumb {
                    margin-left: -69px;
                    margin-right: -69px;
                }
                &-title {
                    font-size: 28px;
                    line-height: 1.34;
                }
            }
            &-more {
                margin-left: auto;
                margin-right: auto;
            }
        }
        &-sidebar {
            display: none;
        }
    }

}
@include media-breakpoint-down(sm) {
    .podcast-hero-content {
        text-align: center;
    }
    .podcast-hero-info {
        margin: 0 auto;
    }
    .podcast-about-info {
        padding-top: 0;
    }
    .podcast-publish-caption {
        padding-bottom: 0;
        h2 {
            margin-bottom: 25px;
        }
    }
    .podcast-publish-info {
        padding-top: 20px;
        margin-bottom: 20px;
    }
}
@include media-breakpoint-down(xs) {
}
