$primary: #F5AB19; $p: $primary;
$secondary: #28282A; $s: $secondary;
$white: #ffffff; $w: $white;
$black: #000000; $b: $black;

$duration: 0.15s;                                                 $d: $duration;
$function: cubic-bezier(0.4, 0.0, 0.2, 1);                        $f: $function;
$function-reverse: cubic-bezier(0.2, 0.0, 0.4, 1);                $fr: $function-reverse;


@font-face {
    font-family: 'Larsseit';
    font-display: swap;
    src: url("https://artlance.github.io/fonts/Larsseit.eot");
    src: url("https://artlance.github.io/fonts/Larsseit.eot?#iefix") format("embedded-opentype"), url("https://artlance.github.io/fonts/Larsseit.woff2") format("woff2"), url("https://artlance.github.io/fonts/Larsseit.woff") format("woff"), url("https://artlance.github.io/fonts/Larsseit.ttf") format("truetype"), url("https://artlance.github.io/fonts/Larsseit.svg#Larsseit") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Larsseit';
    font-display: swap;
    src: url("https://artlance.github.io/fonts/Larsseit-Medium.eot");
    src: url("https://artlance.github.io/fonts/Larsseit-Medium.eot?#iefix") format("embedded-opentype"), url("https://artlance.github.io/fonts/Larsseit-Medium.woff2") format("woff2"), url("https://artlance.github.io/fonts/Larsseit-Medium.woff") format("woff"), url("https://artlance.github.io/fonts/Larsseit-Medium.ttf") format("truetype"), url("https://artlance.github.io/fonts/Larsseit-Medium.svg#Larsseit-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Larsseit';
    font-display: swap;
    src: url("https://artlance.github.io/fonts/Larsseit-Bold.eot");
    src: url("https://artlance.github.io/fonts/Larsseit-Bold.eot?#iefix") format("embedded-opentype"), url("https://artlance.github.io/fonts/Larsseit-Bold.woff2") format("woff2"), url("https://artlance.github.io/fonts/Larsseit-Bold.woff") format("woff"), url("https://artlance.github.io/fonts/Larsseit-Bold.ttf") format("truetype"), url("https://artlance.github.io/fonts/Larsseit-Bold.svg#Larsseit-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;

}
:focus {
    outline: none;
}
body {
    color: $b;
    font-family: "Larsseit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
ul, ol {
    list-style: none;
}
a {
    color: $b;
    text-decoration: none;
}
a, button {
    cursor: pointer;
}
.wrap {
    margin: 0 auto;
    max-width: 1460px;
    padding: 0 15px;
}
.flex,
.wrap {
    display: flex;
}
.wrap,
.flex-wrap {
    flex-wrap: wrap;
}
.flex-justify {
    justify-content: center;
}
.flex-align {
    align-items: center;
}
.flex-reverse {
    flex-direction: row-reverse;
}
.col {
    max-width: 100%;
    padding: 0 15px;
    &-full {
        flex: 0 0 100%;
    }
    &-grow {
        flex-grow: 1;
    }
    &-4 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    &-2 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.show {
    display: block;
}
.hide {
    display: none;
}
.transition-opacity {
    transition: opacity $d $f;
    will-change: opacity;
    &:hover {
        opacity: 0.8;
    }
}
.transition-color {
    transition: color $d $f;
}

//header amp
.header-amp {
    color: $w;
    position: absolute;
    z-index: 5050;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 32px;
}
.logo {
    display: inline-block;
    margin-top: 2px;
}
.header-line {
    margin-top: 20px;
    height: 1px;
    background: $w;
    opacity: 0.1;
}
.header-account {
    width: 38px;
    height: 38px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: -1px;
}
.header-navigation-list {
    a, button {
        font-size: 16px;
        background-color: transparent;
        border: 0;
        color: $w;
        font-weight: 500;
        line-height: 2;
        display: inline-block;
        &:hover {
            color: $p;
        }
        &.header-navigation-add {
            padding-left: 24px;
            position: relative;
            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 8px;
                left: 6px;
                width: 2px;
                height: 14px;
                background: $p;
            }
            &:after {
                left: 0;
                top: 14px;
                height: 2px;
                width: 14px;
            }
        }
    }
    & > li {
        margin-left: 40px;
        &:first-child {
            margin-left: 10px;
        }
    }
}
.search-form {
    position: relative;
}
.search-icon {
    position: absolute;
    left: 2px;
    top: 7px;
    opacity: 0.2;
}
input.header-search {
    border-radius: 0;
    color: $w;
    position: relative;
    width: 320px;
    background: transparent;
    border: 0;
    height: 32px;
    border-radius: 0;
    font-size: 16px;
    padding-left: 32px;
    font-family: "Larsseit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
}

//footer amp
.footer-amp {
    padding: 30px 0 20px;
}
.footer-line {
    height: 1px;
    background: #28282A;
    opacity: 0.1;
    margin-bottom: 17px;
}
.copyright {
    color: #B5B5BA;
}
.footer-navigation-list {
    li {
        padding: 0 0 0 19px;
    }
    a {
        color: #6A6A6C;
        &:hover {
            color: #28282A;
        }
    }
}

//radio amp
.radio {
    text-align: center;
    padding: 124px 0 40px;
    min-height: 600px;
    background: #101011;
    color: $w;
    position: relative;
    a {
        color: $w;
    }
    .wrap {
        position: relative;
    }
}
.radio-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: transparent 50% 50% no-repeat;
    background-size: cover;
}
.raio-live {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 11px;
    span {
        display: inline-block;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -3px;
            left: -14px;
            width: 6px;
            height: 6px;
            background: #D0021A;
            border-radius: 50%;
        }
    }
}
.radio-title {
    font-size: 40px;
    margin-bottom: 20px;
}
.radio-info-list {
    margin-bottom: 46px;
    li {
        margin: 0 16px;
    }
}
.radio-info-line {
    width: 12px;
    height: 1px;
    background: $w;
    display: block;
    margin: 0 auto;
}
.radio-info-button {
    background: transparent;
    color: $w;
    border: 0;
    font-size: 18px;
}
.radio-artwork {
    max-width: 380px;
    margin: 0 auto 15px;
}
.radio-audio {
    flex: 0 0 380px;
    max-width: 380px;
    padding: 0 60px;
}
.radio-toolbar-normal {
    flex: 0 0 157px;
    max-width: 157px;
    padding: 0 4px;
    svg {
        display: inline-block;
        margin-right: 5px;
        vertical-align: top;
    }
}
.radio-toolbar-small {
    flex: 0 0 46px;
    max-width: 46px;
    padding: 0 4px;
    .radio-button {
        font-size: 0;
        color: transparent;
    }
}
.radio-button {
    width: 100%;
    background: transparent;
    color: $w;
    height: 38px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 14px;
    font-weight: 500;
    border-radius: 19px;
    transition: background-color $d $f;
    &:hover {
        background-color: rgba(255, 255, 255, 0.08);
    }
}
.radio-audio-info {
    margin-bottom: 46px;
}
.radio-song {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
}
.radio-artist {
    font-size: 12px;
    opacity: 0.4;
}
.radio-audio-wrap {
    min-height: 70px;
    padding: 0 10px;
    background: #E7E7E7;
    border-radius: 35px;
    audio::-webkit-media-controls-panel {
        background: #E7E7E7;
    }
}

//get app
.get-app {
    padding: 24px 0 15px;
    background: #f3f3f3;
    h3 {
        text-align: center;
        font-size: 18px;
        font-weight: normal;
        color: #6A6A6C;
        margin-bottom: 8px;
    }
}
.get-app-list {
    margin-left: -5px;
    margin-right: -5px;
    li {
        padding: 15px 5px;
    }
}
.get-app-link {
    display: block;
    width: 182px;
    height: 58px;
    border-radius: 4px;
    background: $black;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 0 0 60px;
    position: relative;
    color: $w;
    svg {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
    }
}
.get-app-note {
    font-size: 12px;
    display: block;
    opacity: 0.4;
}

//station
.stations {
    padding-top: 30px;
    padding-bottom: 25px;
    h4 {
        font-size: 32px;
        color: #28282A;
        font-weight: normal;
        margin-bottom: 30px;
    }
    .wrap {
        max-width: 1230px;
    }
}
.station {
    display: block;
    margin-bottom: 29px;
}
.station-link {
    display: block;
    color: $s;
    &:hover {
        color: $s;
    }
}
.station-poster {
    display: block;
    position: relative;
}
.station-poster-image {
    display: block;
}
.station-poster-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.station-labels {
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.station-label {
    background: $p;
    color: $w;
    margin: 0 10px 10px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 14px;
    padding: 3px 14px 4px;
}
.station-tags {
    position: absolute;
    left: 10px;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
}
.station-tag {
    color: $s;
    background: rgba(255, 255, 255, 0.9);
    margin: 0 10px 10px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 14px;
    padding: 3px 14px 4px;
}
.station-title {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding: 13px 0 7px;
}
.station-meta {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #6A6A6C;
}
.station-location {
    display: inline-block;
    color: #6A6A6C;
    position: relative;
    padding-left: 23px;
    font-weight: bold;
    margin: 0 4px;
    svg {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
        transform: translate3d(0, -50%, 0);
    }
}
.station-languages {
    display: inline-block;
    color: #B5B5BA;
    margin: 0 2px;
}
.station-language {
    &:after {
        content: ", ";
    }
    &:last-child {
        &:after {
            display: none;
        }
    }
}


//modal
.lightbox {
    position: absolute;
    left: 0;
    top: 0;
    color: $w;
    background: rgba(0,0,0,.9);
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.amp-lightbox {
    z-index: 9090;
}
.lightbox-content {
    flex: 0 0 100%;
    max-width: 1030px;
    padding: 43px 30px 10px;
}
.about {
    p {
        font-size: 20px;
        line-height: 1.6;
        margin-bottom: 32px;
    }
}
.about-subtitle {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.about-caption {
    padding-bottom: 10px;
    margin-bottom: 31px;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.about-info {
    flex-grow: 1;
    padding-right: 30px;
}
.about-title {
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 23px;
}
.about-info-row {
    align-items: flex-start;
    padding-bottom: 10px;
}
.about-info-tags {
    padding-right: 20px;
    .station-tags {
        position: static;
        left: auto;
        bottom: auto;
    }
}
.about-info-location {
    padding: 4px 10px 10px 0;
    .station-location {
        display: block;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
        padding-left: 20px;
        margin: 0;
    }
}
.about-info-languages {
    padding: 4px 30px 10px 0;
    .station-languages {
        display: block;
        margin: 0;
        font-size: 14px;
        color: rgba(181, 181, 186, 0.6);
    }
}
.about-info-like {
    padding: 4px 10px 10px 0;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}
.about-social-wrapper {
    flex-shrink: 0;
}
.about-social {
    display: flex;
    align-items: center;
    padding-top: 10px;
    li {
        padding-right: 30px;
        a {
            display: block;
            opacity: 0.3;
            transition: opacity 0.15s cubic-bezier(0.4, 0.0, 0.2, 1);
            will-change: opacity;
            svg {
                display: inline-block;
                vertical-align: top;
            }
            &:hover {
                opacity: 0.6;
            }
        }
    }
}
.lightbox-close {
    flex: 0 0 30px;
    max-width: 30px;
    height: 30px;
    margin: 7px -4px 20px;
    position: relative;
    opacity: 0.2;
    transition: opacity 0.15s cubic-bezier(0.4, 0.0, 0.2, 1);
    will-change: opacity;
    background: transparent;
    border: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 0;
        right: 0;
        height: 2px;
        background: #C7C7C7;
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
    &:hover {
        opacity: 0.6;
    }
}

.navigation-sidebar {
    background: $s;
}
.sidebar-close,
.navigation-toggle {
    font-size: 0;
    line-height: 0;
    display: none;
    position: relative;
    width: 32px;
    height: 32px;
    z-index: 5050;
    border: 0;
    padding: 0;
    background: transparent;
}
.sidebar-close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}
.sidebar-close-icon,
.navigation-toggle-icon {
    position: absolute;
    top: 50%;
    left: 6px;
    right: 6px;
    height: 2px;
    background: $p;
    transform: translate3d(0, -50%, 0);
    transition: background-color $d $f;
    border-radius: 1px;
    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background: $p;
        transform: translate3d(0, -6px, 0);
        transition: transform $d $f;
        border-radius: 1px;
    }
    &:after {
        transform: translate3d(0, 6px, 0);
    }
}
.sidebar-close-icon {
    background-color: transparent;
    &:after {
        transform: rotate(-45deg);
    }
    &:before {
        transform: rotate(45deg);
    }
}

.navigation-sidebar {
    padding: 50px;
    .header-navigation-list {
        a, button {
            &.header-navigation-add {
                margin-left: -24px;
            }
        }
        & > li {
            margin-left: 0;
        }
    }
    .search-form {
        margin-left: -32px;
    }
    input.header-search {
        width: 120px;
    }
}

.schedule-group {
    font-size: 16px;
    margin-bottom: 46px;
}
.schedule-group-title {
    color: #6A6A6C;
    margin-bottom: 10px;
}
.schedule-list-title {
    color: #6A6A6C;
    font-size: 16px;
    margin-bottom: 20px;
}
.schedule-list {
    margin-left: -30px;
    margin-right: -30px;
    padding-bottom: 30px;
}
.schedule-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 30px 35px;
}
.schedule-item-info {
    font-size: 16px;
    margin-bottom: 12px;
}
.schedule-item-meta {
    flex-grow: 1;
}
.schedule-item-duration {
    color: #6A6A6C;
    padding-left: 10px;
    text-align: right;
    span {
        padding-left: 10px;
        color: $w;
    }
}
.schedule-item-player {
    background: #E7E7EE;
    min-height: 50px;
    border-radius: 25px;
}


.demo-panel {
    color: $w;
    text-align: center;
    background: #54D933;
    padding: 50px;
    button {
        margin-left: 20px;
        padding: 10px;
        color: $w;
        border: 1px solid $w;
        background-color: transparent;
        border-radius: 5px;
    }
}
.panel {
    position: relative;
    background: #1e1e1e;
}
.chat-iframe {
    display: block;
    margin: 0;
}
.chat-close {
    font-size: 0;
    border: 0;
    background: transparent;
    right: 11px;
    top: 19px;
    width: 40px;
    height: 40px;
    position: absolute;
    opacity: 0.2;
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 9px;
        right: 9px;
        height: 2px;
        background: #C7C7C7;
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
    &:hover {
        opacity: 0.6;
    }
}
.iframe-overflow {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    top: 0;
    background: #1e1e1e;
    span {
        color: $w;
        position: absolute;
        left: 10px;
        right: 10px;
        top: 50%;
        margin-top: -10px;
        font-size: 14px;
        text-align: center;
    }
}
#panels {
    height: 0;
    display: block;
    font-size: 0;
    line-height: 0;
}
.panel-share {
    padding: 60px 30px 50px;
    text-align: center;
}
.cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10900;
    background: rgba(0, 0, 0, 0.85);
    color: $w;
    padding: 20px 0;
    .link {
        color: $p;
    }
}
.cookies-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.cookies-content {
    padding: 10px 0
}
.cookies-nav {
    white-space: nowrap;
    padding: 10px 0 10px 20px;
}
.cookies-nav .button {
    font-size: 16px;
    font-weight: bold;
    border-radius: 21px;
    border: 1px solid $p;
    color: $w;
    line-height: 1.25;
    background-color: $p;
    display: inline-block;
    padding: 10px 29px;
    transition: color $d $f, background-color $d $f, border-color $d $f;
}

@media (max-width: 991px) {
    .wrap,
    .col {
        padding-left: 10px;
        padding-right: 10px;
    }
    .m-order-st {
        order: -1;
    }
    .col-m-full {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-m-grow {
        flex-grow: 1;
    }
    .m-none,
    .col-m-none {
        display: none;
    }

    //header
    .header-amp {
        padding-top: 16px;
    }
    .header-line {
        margin-top: 15px;
    }
    .navigation-toggle {
        display: block;
    }

    //footer
    .footer-amp {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .copyright {
        margin-bottom: 18px;
    }
    .footer-navigation-list {
        margin-left: -21px;
        li {
            padding-left: 21px;
            margin-bottom: 10px;
        }
    }
    .footer-line {
        margin-bottom: 14px;
    }

    //radio amp
    .radio {
        padding-top: 92px;
    }
    .raio-live {
        margin-bottom: 3px;
    }
    .radio-title {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .radio-artwork {
        width: 52.238%;
        margin-bottom: 10px;
    }
    .radio-info-list {
        margin-bottom: 33px;
    }
    .radio-toolbar {
        margin-left: auto;
        margin-right: auto;
        max-width: 320px;
    }
    .radio-audio {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 20px;
    }
    .radio-audio-info {
        margin-bottom: 32px;
    }
    .radio-toolbar-normal {
        flex: 0 0 50%;
        max-width: 50%;
        padding-bottom: 8px;
    }
    .radio-toolbar-small {
        order: 1;
    }

    //get app
    .get-app-link {
        width: 160px;
    }

    //station
    .stations {
        padding-bottom: 8px;
        h4 {
            font-size: 30px;
            text-align: center;
            margin-bottom: 22px;
        }
    }
    .station {
        margin-bottom: 20px;
    }
    .station-title {
        font-size: 16px;
        font-weight: bold;
    }
    .station-tags {
        display: none;
    }
    .station-meta {
        font-size: 13px;
    }
    .station-languages {
        display: none;
    }
    .station-title {
        padding-bottom: 4px;
    }
    .station-location {
        margin-left: -10px;
        svg {
            left: 6px;
            width: 10px;
        }
    }

    //modal
    .lightbox-content {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .about {
        p {
            font-size: 18px;
            line-height: 1.6667;
            margin-bottom: 30px;
        }
    }
    .about-subtitle {
        font-size: 20px;
        line-height: 1.6;
        margin-bottom: 20px;
    }
    .about-caption {
        margin-bottom: 21px;
    }
    .about-info {
        padding-right: 10px;
    }
    .about-title {
        font-size: 30px;
        line-height: 1.2;
        padding-right: 10px;
        margin-bottom: 11px;
    }
    .about-info-row {
        padding-top: 6px;
        padding-bottom: 0;
    }
    .about-info-tags {
        padding-right: 10px;
        .station-tags {
            display: flex;
        }
    }
    .about-info-location {
        .station-location {
            svg {
                left: 0;
                width: 12px;
            }
        }
    }
    .about-info-languages {
        padding-right: 20px;
    }
    .about-social-wrapper {
        display: none;
    }
    .lightbox-close {
        flex: 0 0 26px;
        max-width: 26px;
        height: 26px;
        margin: 5px -4px 10px 0;
    }
    .schedule-list {
        margin-left: 0;
        margin-right: 0;
    }
    .schedule-item {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .schedule-group {
        margin-bottom: 30px;
    }
    .schedule-list-title,
    .schedule-group-title {
        margin-bottom: 5px;
    }

}