<header class="header-sticky">
    <div class="wrap">
        <div class="col">
            <ul class="header-sticky-list flex flex-wrap">
                <li class="active" [class]="(activeRadio == null) ? ampState.activeRadio : activeRadio">
                    <button on="tap:AMP.setState({ hideRadio: false, hideVideo: true, hidePodcasts: true, activeRadio: 'active', activeVideo: '', activePodcasts: '', activePodcastsPlayer: 'player-sticky'})">
                        Radio
                    </button>
                </li>
                <li [class]="(activeVideo == null) ? ampState.activeVideo : activeVideo">
                    <button on="tap:AMP.setState({ hideRadio: true, hideVideo: false, hidePodcasts: true, activeRadio: '', activeVideo: 'active', activePodcasts: '', activePodcastsPlayer: 'player-sticky' })">
                        Video
                    </button>
                </li>
                <li [class]="(activePodcasts == null) ? ampState.activePodcasts : activePodcasts">
                    <button on="tap:AMP.setState({ hideRadio: true, hideVideo: true, hidePodcasts: false, activeRadio: '', activeVideo: '', activePodcasts: 'active', activePodcastsPlayer: 'player-sticky player-sticky-dark' }), categoriesList.refresh, categoriesListMobile.refresh, podcastsList.refresh">
                        Podcasts
                    </button>
                </li>
            </ul>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.wrap -->
    <amp-position-observer on="enter:hideHeader.start; exit:showHeader.start" layout="nodisplay"></amp-position-observer>
</header>
<!-- /.header-sticky -->

<header class="header-sticky header-sticky2" id="scrollToTopButton">
    <div class="wrap">
        <div class="col">
            <ul class="header-sticky-list flex flex-wrap">
                <li class="active" [class]="(activeRadio == null) ? ampState.activeRadio : activeRadio">
                    <button on="tap:AMP.setState({ hideRadio: false, hideVideo: true, hidePodcasts: true, activeRadio: 'active', activeVideo: '', activePodcasts: '', activePodcastsPlayer: 'player-sticky'}), top.scrollTo(duration=200)">
                        Radio
                    </button>
                </li>
                <li [class]="(activeVideo == null) ? ampState.activeVideo : activeVideo">
                    <button on="tap:AMP.setState({ hideRadio: true, hideVideo: false, hidePodcasts: true, activeRadio: '', activeVideo: 'active', activePodcasts: '', activePodcastsPlayer: 'player-sticky' }), top.scrollTo(duration=200)">
                        Video
                    </button>
                </li>
                <li [class]="(activePodcasts == null) ? ampState.activePodcasts : activePodcasts">
                    <button on="tap:AMP.setState({ hideRadio: true, hideVideo: true, hidePodcasts: false, activeRadio: '', activeVideo: '', activePodcasts: 'active', activePodcastsPlayer: 'player-sticky player-sticky-dark' }), top.scrollTo(duration=200), categoriesList.refresh, categoriesListMobile.refresh, podcastsList.refresh">
                        Podcasts
                    </button>
                </li>
            </ul>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.wrap -->
</header>
<!-- /.header-sticky -->