<footer class="footer-amp">
    <div class="wrap">
        <div class="col col-m-6">
            <div class="footer-column first-child">
                <h6>Creators</h6>
                <ul>
                    <li><a href="#">Radio Streaming</a></li>
                    <li><a href="#">Podcast</a></li>
                    <li><a href="#">Video</a></li>
                    <li><a href="#">Donations</a></li>
                    <li><a href="#">Call-To-Listen</a></li>
                    <li><a href="#">Prayer lines</a></li>
                    <li><a href="#">Merch</a></li>
                    <li><a href="#">Monetization</a></li>
                    <li><a href="#">Landing page</a></li>
                </ul>
            </div>
            <!-- /.footer-column -->
        </div>
        <!-- /.col -->
        <div class="col col-m-6">
            <div class="footer-column">
                <h6>Community</h6>
                <ul>
                    <li><a href="#">Top up</a></li>
                    <li><a href="#">Offers</a></li>
                    <li><a href="#">Zeno+ App</a></li>
                </ul>
            </div>
            <!-- /.footer-column -->
        </div>
        <!-- /.col -->
        <div class="col col-m-6">
            <div class="footer-column">
                <h6>Partner With Us</h6>
                <ul>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">Aggregators</a></li>
                    <li><a href="#">App Network</a></li>
                </ul>
            </div>
            <!-- /.footer-column -->
        </div>
        <!-- /.col -->
        <div class="col col-m-6">
            <div class="footer-column">
                <h6>About us</h6>
                <ul>
                    <li><a href="#">What we do</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <!-- /.footer-column -->
        </div>
        <!-- /.col -->
        <div class="col col-full"><div class="footer-line"></div></div>
        <div class="col col-2 col-m-full">
            <div class="copyright">&copy; 2020 Zeno FM</div>
        </div>
        <div class="col col-2 col-m-full">
            <ul class="footer-navigation-list flex flex-wrap">
                <li><a class="transition-color" href="#">Privacy</a></li>
                <li><a class="transition-color" href="#">Terms</a></li>
                <li><a class="transition-color" href="#">Cookies</a></li>
                <li><a class="transition-color" href="#">GDPR</a></li>
            </ul>
        </div>
    </div>
    <!-- /.wrap -->
</footer>
<!-- /.footer-amp -->
<div class="footer-amp-push"></div>