<section class="stations">
    <div class="wrap">
        <div class="col col-full">
            <h4>Similar Stations</h4>
        </div>
    </div>
    <div class="wrap">
        <div class="col col-4 col-m-6">
            <div class="station">
                <a href="#" class="station-link">
                    <span class="station-poster">
                        <span class="station-poster-image">
                            <amp-img class="station-poster-img" src="upload/stations/station-2.jpg" width="540" height="600" layout="responsive" alt="Groove Station"></amp-img>
                        </span>
                        <span class="station-tags">
                            <span class="station-tag">Talk</span>
                            <span class="station-tag">News</span>
                        </span>
                    </span>
                    <span class="station-title">Groove Station</span>
                    <span class="station-meta">
                        <span class="station-location">
                            <svg width="12" height="16" viewBox="0 0 12 16" xmlns="http://www.w3.org/2000/svg"><title>ic_location</title><path d="M6 16.049C4.01 16.049 0 9.543 0 6a6 6 0 1 1 12 0c0 3.543-4.01 10.049-6 10.049zM6 4.077a1.986 1.986 0 1 0 2 1.986 1.993 1.993 0 0 0-2-1.986z" fill="#D1D1D5" fill-rule="evenodd"/></svg>
                            Berlin, DE
                        </span>
                        <span class="station-languages">
                            <span class="station-language">English</span>
                            <span class="station-language">Deutsch</span>
                        </span>
                    </span>
                </a>
            </div>
        </div>
        <div class="col col-4 col-m-6">
            <div class="station">
                <a href="#" class="station-link">
                    <span class="station-poster">
                        <span class="station-poster-image">
                            <amp-img class="station-poster-img" src="upload/stations/station-3.jpg" width="540" height="600" layout="responsive" alt="Electro Garten"></amp-img>
                        </span>
                        <span class="station-tags">
                            <span class="station-tag">Electronic</span>
                            <span class="station-tag">House</span>
                        </span>
                    </span>
                    <span class="station-title">Electro Garten</span>
                    <span class="station-meta">
                        <span class="station-location">
                            <svg width="12" height="16" viewBox="0 0 12 16" xmlns="http://www.w3.org/2000/svg"><title>ic_location</title><path d="M6 16.049C4.01 16.049 0 9.543 0 6a6 6 0 1 1 12 0c0 3.543-4.01 10.049-6 10.049zM6 4.077a1.986 1.986 0 1 0 2 1.986 1.993 1.993 0 0 0-2-1.986z" fill="#D1D1D5" fill-rule="evenodd"/></svg>
                            Berlin, DE
                        </span>
                        <span class="station-languages">
                            <span class="station-language">Deutsch</span>
                        </span>
                    </span>
                </a>
            </div>
        </div>
        <div class="col col-4 col-m-6">
            <div class="station">
                <a href="#" class="station-link">
                    <span class="station-poster">
                        <span class="station-poster-image">
                            <amp-img class="station-poster-img" src="upload/stations/station-4.jpg" width="540" height="600" layout="responsive" alt="Smooth Jazz Florida"></amp-img>
                        </span>
                        <span class="station-tags">
                            <span class="station-tag">Jazz</span>
                            <span class="station-tag">Fusion</span>
                        </span>
                    </span>
                    <span class="station-title">Smooth Jazz Florida</span>
                    <span class="station-meta">
                        <span class="station-location">
                            <svg width="12" height="16" viewBox="0 0 12 16" xmlns="http://www.w3.org/2000/svg"><title>ic_location</title><path d="M6 16.049C4.01 16.049 0 9.543 0 6a6 6 0 1 1 12 0c0 3.543-4.01 10.049-6 10.049zM6 4.077a1.986 1.986 0 1 0 2 1.986 1.993 1.993 0 0 0-2-1.986z" fill="#D1D1D5" fill-rule="evenodd"/></svg>
                            Florida, CA
                        </span>
                        <span class="station-languages">
                            <span class="station-language">English</span>
                        </span>
                    </span>
                </a>
            </div>
        </div>
        <div class="col col-4 col-m-6">
            <div class="station">
                <a href="#" class="station-link">
                    <span class="station-poster">
                        <span class="station-poster-image">
                            <amp-img class="station-poster-img" src="upload/stations/station-5.jpg" width="540" height="600" layout="responsive" alt="Venice Classic"></amp-img>
                        </span>
                        <span class="station-tags">
                            <span class="station-tag">Classic</span>
                        </span>
                    </span>
                    <span class="station-title">Venice Classic</span>
                    <span class="station-meta">
                        <span class="station-location">
                            <svg width="12" height="16" viewBox="0 0 12 16" xmlns="http://www.w3.org/2000/svg"><title>ic_location</title><path d="M6 16.049C4.01 16.049 0 9.543 0 6a6 6 0 1 1 12 0c0 3.543-4.01 10.049-6 10.049zM6 4.077a1.986 1.986 0 1 0 2 1.986 1.993 1.993 0 0 0-2-1.986z" fill="#D1D1D5" fill-rule="evenodd"/></svg>
                            Venice, IT
                        </span>
                        <span class="station-languages">
                            <span class="station-language">English</span>
                            <span class="station-language">Deutsch</span>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- /.stations -->