<footer class="footer-amp">
    <div class="wrap">
        <div class="col col-full"><div class="footer-line"></div></div>
        <div class="col col-2 col-m-full">
            <div class="copyright">Copyright ZenoLive 2018. All rights reserved.</div>
        </div>
        <div class="col col-2 col-m-full">
            <ul class="footer-navigation-list flex flex-wrap">
                <li><a class="transition-color" href="#">About</a></li>
                <li><a class="transition-color" href="#">Stations</a></li>
                <li><a class="transition-color" href="#">Locations</a></li>
                <li><a class="transition-color" href="#">Blog</a></li>
                <li><a class="transition-color" href="#">Help</a></li>
                <li><a class="transition-color" href="#">Legal</a></li>
                <li><a class="transition-color" href="#">Privacy</a></li>
                <li><a class="transition-color" href="#">Terms and Conditions</a></li>
            </ul>
        </div>
    </div>
    <!-- /.wrap -->
</footer>
<!-- /.footer-amp -->
<div class="footer-amp-push"></div>