<div class="player-sticky" [class]="(activePodcastsPlayer == null) ? ampState.activePodcastsPlayer : activePodcastsPlayer" id="scrollPlayer">
    <div class="player-sticky-columns player-sticky-columns-light flex">
        <div class="player-sticky-meta player-sticky-meta-desktop">
            <div class="player-sticky-meta-title">Red FM</div>
            <div class="player-sticky-meta-subtitle"><a href="tel:+1 888-452-1505">+1 888-452-1505</a></div>
        </div>
        <div class="player-sticky-nav flex">
            <div class="player-sticky-col">
                <button class="button-reboot transition-opacity">
                    <svg width="16" height="14" viewBox="0 0 16 14" xmlns="http://www.w3.org/2000/svg"><path d="M8 4c5.2 0 8 3.8 8 10-1.5-2.4-2.7-4-8-4v4L0 7l8-7v4z" fill="#28282A" fill-rule="nonzero"/></svg>
                </button>
            </div>
            <div class="player-sticky-col">
                <button id="radioPlaySticky" class="button-reboot transition-opacity" on="tap:radioPlaySticky.toggleClass(class='active')">
                    <svg class="button-icon-default" width="14" height="20" viewBox="0 0 14 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 0v20H0V0h4zm10 0v20h-4V0h4z" fill="#28282A" fill-rule="evenodd"/></svg>
                    <svg class="button-icon-active" width="14" height="16" viewBox="0 0 14 16" xmlns="http://www.w3.org/2000/svg"><title>ic_play</title><path d="M0 2.002C0 .448 1.696-.512 3.029.288l10 5.998c1.295.776 1.295 2.652 0 3.428l-10 5.998c-1.333.8-3.029-.16-3.029-1.714V2.002z" fill="#28282A" fill-rule="nonzero"/></svg>
                </button>
            </div>
            <div class="player-sticky-col">
                <button class="button-reboot transition-opacity">
                    <svg width="16" height="14" viewBox="0 0 16 14" xmlns="http://www.w3.org/2000/svg"><path d="M8 4C2.8 4 0 7.8 0 14c1.5-2.4 2.7-4 8-4v4l8-7-8-7v4z" fill="#28282A" fill-rule="nonzero"/></svg>
                </button>
            </div>
        </div>
        <div class="player-sticky-meta text-right">
            <div class="player-sticky-meta-title"><span class="player-sticky-meta-mobile">Red FM</span>I’m Into You</div>
            <div class="player-sticky-meta-subtitle"><span class="player-sticky-meta-mobile"><a href="tel:+1 888-452-1505">+1 888-452-1505</a>, </span>Chet Faker</div>
        </div>
    </div>
    <div class="player-sticky-columns player-sticky-columns-dark flex">
        <div class="player-sticky-meta player-sticky-meta-desktop">
            <div class="player-sticky-meta-title">Red FM</div>
            <div class="player-sticky-meta-subtitle"><a href="tel:+1 888-452-1505">+1 888-452-1505</a></div>
        </div>
        <div class="player-sticky-nav flex">
            <div class="player-sticky-col">
                <button class="button-reboot transition-opacity">
                    <svg width="16" height="14" viewBox="0 0 16 14" xmlns="http://www.w3.org/2000/svg"><path d="M8 4c5.2 0 8 3.8 8 10-1.5-2.4-2.7-4-8-4v4L0 7l8-7v4z" fill="#28282A" fill-rule="nonzero"/></svg>
                </button>
            </div>
            <div class="player-sticky-col">
                <button id="radioPlaySticky" class="button-reboot transition-opacity" on="tap:radioPlaySticky.toggleClass(class='active')">
                    <svg class="button-icon-default" width="14" height="20" viewBox="0 0 14 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 0v20H0V0h4zm10 0v20h-4V0h4z" fill="#28282A" fill-rule="evenodd"/></svg>
                    <svg class="button-icon-active" width="14" height="16" viewBox="0 0 14 16" xmlns="http://www.w3.org/2000/svg"><title>ic_play</title><path d="M0 2.002C0 .448 1.696-.512 3.029.288l10 5.998c1.295.776 1.295 2.652 0 3.428l-10 5.998c-1.333.8-3.029-.16-3.029-1.714V2.002z" fill="#28282A" fill-rule="nonzero"/></svg>
                </button>
            </div>
            <div class="player-sticky-col">
                <button class="button-reboot transition-opacity">
                    <svg width="16" height="14" viewBox="0 0 16 14" xmlns="http://www.w3.org/2000/svg"><path d="M8 4C2.8 4 0 7.8 0 14c1.5-2.4 2.7-4 8-4v4l8-7-8-7v4z" fill="#28282A" fill-rule="nonzero"/></svg>
                </button>
            </div>
        </div>
        <div class="player-sticky-meta text-right">
            <div class="player-sticky-meta-title"><span class="player-sticky-meta-mobile">Red FM</span>Nobody’ll ever change</div>
            <div class="player-sticky-meta-subtitle"><span class="player-sticky-meta-mobile"><a href="tel:+1 888-452-1505">+1 888-452-1505</a>, </span>4 July 2020, 45 min</div>
        </div>
    </div>
</div>
<!-- /.player-sticky -->


