<div class="radio-main relative">
    <div class="radio-background"></div>
    <div class="radio-tab relative d-block">
        <div class="wrap">
            <div class="col col-full">
                <div class="raio-section">
                    <div class="radio-title">CTW</div>
                    <div class="radio-artwork">
                        <amp-img src="upload/single.jpg" width="380" height="380" layout="responsive" alt="Electro Garten"></amp-img>
                    </div>
                    <div class="radio-audio-info">
                        <div class="radio-song">Crime this week Episode 1</div>
                    </div>
                    <div class="radio-toolbar flex flex-wrap flex-justify flex-align">
                        <div class="radio-audio radio-audio-full m-order-st col-m-full">
                            <amp-audio src="https://storage.googleapis.com/media-session/sintel/snow-fight.mp3" artwork="https://storage.googleapis.com/media-session/sintel/artwork-512.png" title="Snow Fight" album="Jan Morgenstern" artist="Sintel" height="50" width="auto" controlsList="nodownload">
                                <div fallback>Your browser doesn’t support HTML5 audio</div>
                            </amp-audio>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.wrap -->
    </div>
    <!-- /.radio -->
</div>
<!-- /.radio-main -->
<div class="main-podcasts">
    <div class="wrap">
        <div class="col col-full">
            <div class="main-podcasts-title">Past Episodes</div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.wrap -->
    <div class="main-podcasts-list">
        <div class="wrap">
            <div class="col col-3 col-m-full">
                <div class="main-podcast-item">
                    <div class="main-podcast-item-control">
                        <button id="radioPlay1" class="button-reboot transition-opacity active" on="tap:radioPlay1.toggleClass(class='active')">
                            <svg class="button-icon-default" width="14" height="20" viewBox="0 0 14 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 0v20H0V0h4zm10 0v20h-4V0h4z" fill="#28282A" fill-rule="evenodd" /></svg>
                            <svg class="button-icon-active" width="14" height="16" viewBox="0 0 14 16" xmlns="http://www.w3.org/2000/svg">
                                <title>ic_play</title>
                                <path d="M0 2.002C0 .448 1.696-.512 3.029.288l10 5.998c1.295.776 1.295 2.652 0 3.428l-10 5.998c-1.333.8-3.029-.16-3.029-1.714V2.002z" fill="#28282A" fill-rule="nonzero" />
                            </svg>
                        </button>
                    </div>
                    <div class="main-podcast-item-content">
                        <div class="main-podcast-item-title">Crime this week Episode 1</div>
                        <div class="main-podcast-item-duration">00:04:28</div>
                    </div>
                </div>
                <!-- /.main-podcast-item -->
            </div>
            <!-- /.col -->
            <div class="col col-3 col-m-full">
                <div class="main-podcast-item">
                    <div class="main-podcast-item-control">
                        <button id="radioPlay2" class="button-reboot transition-opacity active" on="tap:radioPlay2.toggleClass(class='active')">
                            <svg class="button-icon-default" width="14" height="20" viewBox="0 0 14 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 0v20H0V0h4zm10 0v20h-4V0h4z" fill="#28282A" fill-rule="evenodd" /></svg>
                            <svg class="button-icon-active" width="14" height="16" viewBox="0 0 14 16" xmlns="http://www.w3.org/2000/svg">
                                <title>ic_play</title>
                                <path d="M0 2.002C0 .448 1.696-.512 3.029.288l10 5.998c1.295.776 1.295 2.652 0 3.428l-10 5.998c-1.333.8-3.029-.16-3.029-1.714V2.002z" fill="#28282A" fill-rule="nonzero" />
                            </svg>
                        </button>
                    </div>
                    <div class="main-podcast-item-content">
                        <div class="main-podcast-item-title">Crime this week Episode 2</div>
                        <div class="main-podcast-item-duration">00:04:28</div>
                    </div>
                </div>
                <!-- /.main-podcast-item -->
            </div>
            <!-- /.col -->
            <div class="col col-3 col-m-full">
                <div class="main-podcast-item">
                    <div class="main-podcast-item-control">
                        <button id="radioPlay3" class="button-reboot transition-opacity active" on="tap:radioPlay3.toggleClass(class='active')">
                            <svg class="button-icon-default" width="14" height="20" viewBox="0 0 14 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 0v20H0V0h4zm10 0v20h-4V0h4z" fill="#28282A" fill-rule="evenodd" /></svg>
                            <svg class="button-icon-active" width="14" height="16" viewBox="0 0 14 16" xmlns="http://www.w3.org/2000/svg">
                                <title>ic_play</title>
                                <path d="M0 2.002C0 .448 1.696-.512 3.029.288l10 5.998c1.295.776 1.295 2.652 0 3.428l-10 5.998c-1.333.8-3.029-.16-3.029-1.714V2.002z" fill="#28282A" fill-rule="nonzero" />
                            </svg>
                        </button>
                    </div>
                    <div class="main-podcast-item-content">
                        <div class="main-podcast-item-title">Crime this week Episode Crime this week Episode Crime this week Episode 3</div>
                        <div class="main-podcast-item-duration">00:04:28</div>
                    </div>
                </div>
                <!-- /.main-podcast-item -->
            </div>
            <!-- /.col -->
            <div class="col col-3 col-m-full">
                <div class="main-podcast-item">
                    <div class="main-podcast-item-control">
                        <button id="radioPlay4" class="button-reboot transition-opacity active" on="tap:radioPlay4.toggleClass(class='active')">
                            <svg class="button-icon-default" width="14" height="20" viewBox="0 0 14 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 0v20H0V0h4zm10 0v20h-4V0h4z" fill="#28282A" fill-rule="evenodd" /></svg>
                            <svg class="button-icon-active" width="14" height="16" viewBox="0 0 14 16" xmlns="http://www.w3.org/2000/svg">
                                <title>ic_play</title>
                                <path d="M0 2.002C0 .448 1.696-.512 3.029.288l10 5.998c1.295.776 1.295 2.652 0 3.428l-10 5.998c-1.333.8-3.029-.16-3.029-1.714V2.002z" fill="#28282A" fill-rule="nonzero" />
                            </svg>
                        </button>
                    </div>
                    <div class="main-podcast-item-content">
                        <div class="main-podcast-item-title">Crime this week Episode 4</div>
                        <div class="main-podcast-item-duration">00:04:28</div>
                    </div>
                </div>
                <!-- /.main-podcast-item -->
            </div>
            <!-- /.col -->
            <div class="col col-3 col-m-full">
                <div class="main-podcast-item">
                    <div class="main-podcast-item-control">
                        <button id="radioPlay5" class="button-reboot transition-opacity active" on="tap:radioPlay5.toggleClass(class='active')">
                            <svg class="button-icon-default" width="14" height="20" viewBox="0 0 14 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 0v20H0V0h4zm10 0v20h-4V0h4z" fill="#28282A" fill-rule="evenodd" /></svg>
                            <svg class="button-icon-active" width="14" height="16" viewBox="0 0 14 16" xmlns="http://www.w3.org/2000/svg">
                                <title>ic_play</title>
                                <path d="M0 2.002C0 .448 1.696-.512 3.029.288l10 5.998c1.295.776 1.295 2.652 0 3.428l-10 5.998c-1.333.8-3.029-.16-3.029-1.714V2.002z" fill="#28282A" fill-rule="nonzero" />
                            </svg>
                        </button>
                    </div>
                    <div class="main-podcast-item-content">
                        <div class="main-podcast-item-title">Crime this week Episode 5</div>
                        <div class="main-podcast-item-duration">00:04:28</div>
                    </div>
                </div>
                <!-- /.main-podcast-item -->
            </div>
            <!-- /.col -->
            <div class="col col-3 col-m-full">
                <div class="main-podcast-item">
                    <div class="main-podcast-item-control">
                        <button id="radioPlay6" class="button-reboot transition-opacity active" on="tap:radioPlay6.toggleClass(class='active')">
                            <svg class="button-icon-default" width="14" height="20" viewBox="0 0 14 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 0v20H0V0h4zm10 0v20h-4V0h4z" fill="#28282A" fill-rule="evenodd" /></svg>
                            <svg class="button-icon-active" width="14" height="16" viewBox="0 0 14 16" xmlns="http://www.w3.org/2000/svg">
                                <title>ic_play</title>
                                <path d="M0 2.002C0 .448 1.696-.512 3.029.288l10 5.998c1.295.776 1.295 2.652 0 3.428l-10 5.998c-1.333.8-3.029-.16-3.029-1.714V2.002z" fill="#28282A" fill-rule="nonzero" />
                            </svg>
                        </button>
                    </div>
                    <div class="main-podcast-item-content">
                        <div class="main-podcast-item-title">Crime this week Episode 6</div>
                        <div class="main-podcast-item-duration">00:04:28</div>
                    </div>
                </div>
                <!-- /.main-podcast-item -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.wrap -->
    </div>
    <!-- /.main-podcasts-list -->
</div>
<!-- /.main-podcasts -->
