<div class="player-sticky" id="scrollPlayer">
    <div class="player-sticky-nav flex">
        <div class="player-sticky-col">
            <button class="button-reboot transition-opacity">
                <svg width="16" height="14" viewBox="0 0 16 14" xmlns="http://www.w3.org/2000/svg"><path d="M8 4c5.2 0 8 3.8 8 10-1.5-2.4-2.7-4-8-4v4L0 7l8-7v4z" fill="#28282A" fill-rule="nonzero"/></svg>
            </button>
        </div>
        <div class="player-sticky-col">
            <button class="button-reboot transition-opacity">
                <svg width="14" height="20" viewBox="0 0 14 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 0v20H0V0h4zm10 0v20h-4V0h4z" fill="#28282A" fill-rule="evenodd"/></svg>
            </button>
        </div>
        <div class="player-sticky-col">
            <button class="button-reboot transition-opacity">
                <svg width="16" height="14" viewBox="0 0 16 14" xmlns="http://www.w3.org/2000/svg"><path d="M8 4C2.8 4 0 7.8 0 14c1.5-2.4 2.7-4 8-4v4l8-7-8-7v4z" fill="#28282A" fill-rule="nonzero"/></svg>
            </button>
        </div>
    </div>
</div>
<!-- /.player-sticky -->