$primary: #F5AB19; $p: $primary;
$secondary: #28282A; $s: $secondary;
$white: #ffffff; $w: $white;
$black: #000000; $b: $black;
$text: #28282A; $txt: $text;
$footer: 90px;

$duration: 0.15s;                                                 $d: $duration;
$function: cubic-bezier(0.4, 0.0, 0.2, 1);                        $f: $function;
$function-reverse: cubic-bezier(0.2, 0.0, 0.4, 1);                $fr: $function-reverse;