.radio {
    text-align: center;
    padding: 124px 0 40px;
    min-height: 800px;
    background: #101011;
    color: $w;
    position: relative;
    a {
        color: $w;
        &.button {
            color: $text;
        }
    }
}
.radio-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: transparent 50% 50% no-repeat;
    background-size: cover;
}
.raio-live {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    span {
        display: inline-block;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -3px;
            left: -14px;
            width: 6px;
            height: 6px;
            background: #d0021a;
            border-radius: 50%;
        }
    }
}
.radio-title {
    font-size: 30px;
    margin-bottom: 18px;
    font-weight: normal;
}
.radio-info-list {
    margin-bottom: 46px;
    & > li {
        margin: 0 16px;
        position: relative;
        &:hover {
            .shows-lightbox {
                visibility: visible;
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
}
.shows-lightbox {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s linear;
    overflow: auto;
    text-align: center;
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    background: #e7e7e7;
    border-radius: 4px;
    max-height: 200px;
    overflow: auto;
    padding: 10px 0 15px;
    .url-entry {
        display: block;
    }
    a {
        color: #6f6f6f;
        display: block;
        padding: 5px 20px;
        &.active {
            font-weight: 500;
        }
        &:hover,
        &.active {
            color: #2a2a2a;
        }
    }
}
.radio-info-line {
    width: 12px;
    height: 1px;
    background: $w;
    display: block;
    margin: 0 auto;
}
.radio-info-button {
    background: transparent;
    color: $w;
    border: 0;
    font-size: 18px;
}
.radio-artwork {
    max-width: 270px;
    margin: 0 auto 32px;
    border-radius: 4px;
    overflow: hidden;
}
.radio-audio {
    flex: 0 0 260px;
    max-width: 260px;
    padding: 0 38px;
    &-full {
        padding-left: 0;
        padding-right: 0;
    }
}
.radio-toolbar-normal {
    flex: 0 0 157px;
    max-width: 157px;
    padding: 0 4px;
    svg {
        display: inline-block;
        margin-right: 5px;
        vertical-align: top;
    }
}
.radio-toolbar {
    position: relative;
    z-index: 2;
}
.radio-toolbar-small {
    flex: 0 0 46px;
    max-width: 46px;
    padding: 0 4px;
    .radio-button {
        font-size: 0;
        color: transparent;
    }
}
.radio-button {
    width: 100%;
    background: transparent;
    color: $w;
    height: 38px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 14px;
    font-weight: 500;
    border-radius: 19px;
    transition: background-color $d $f;
    &:hover {
        background-color: rgba(255, 255, 255, 0.08);
    }
}
.radio-audio-info {
    margin-bottom: 23px;
}
.radio-song {
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: bold;
}
.radio-artist {
    font-size: 13px;
    opacity: 0.4;
}
.radio-audio-wrap {
    audio::-webkit-media-controls-panel {
        background: #e7e7e7;
    }
}
.radio-single {
    height: auto;
    min-height: 0;
    .about-social li a {
        opacity: 0.6;
        &:hover {
            opacity: 1;
        }
    }
    .about-social li {
        &:last-child {
            padding-right: 0;
        }
    }
    &-artwork {
        max-width: 280px;
        margin: 15px auto 20px;
    }
    &-title {
        font-size: 24px;
        margin-bottom: 10px;
        color: $w;
        h1 {
            margin: 0;
            font-weight: normal;
            font-size: 100%;
        }
    }
    &-content {
        margin: 60px auto 40px;
        max-width: 600px;
        font-size: 16px;
        line-height: 1.6;
        p {
            margin: 0 0 24px;
            color: #333;
        }
        h2 {
            font-weight: 500;
            font-size: 20px;
            margin-bottom: 30px;
        }
    }
}
.radio-main {
    background: #000;
}
.raio-section {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.radio-tab {
    min-height: 588px;
    color: $w;
    &.d-block {
        display: block;
    }
}
.radio-audio-player {
    height: 64px;
    width: 163px;
    margin: 0 auto;
    background: $w;
    border-radius: 32px;
    button {
        width: 32px;
        height: 32px;
        opacity: 0.3;
        svg {
            display: block;
            margin: 0 auto;
        }
    }
}
.radio-audio-control {
    padding: 0 6px;
}
.radio-audio-separator {
    width: 1px;
    height: 32px;
    background: rgba(#28282a, 0.1);
}
.tooltip {
    display: none;
    padding: 20px;
    background: #18181a;
    border: 1px solid rgba($w, 0.16);
    border-radius: 8px;
    position: absolute;
    z-index: 100;
    left: 50%;
    bottom: 100%;
    transform: translate3d(-50%, 0, 0);
    white-space: nowrap;
    text-align: left;
    a {
        color: rgba($w, 0.4);
        & + a {
            margin-left: 10px;
        }
        &:hover {
            color: $w;
        }
    }
    &-title {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 8px;
    }
}
.tooltip-hover:hover {
    .tooltip {
        display: block;
    }
}
.main-podcasts-m-meta {
    display: none;
}
.label-play {
    cursor: pointer;
    user-select: none;
    &-icon {
        padding-top: 5px;
        margin-right: 8px;
        width: 32px;
        height: 32px;
        border: 2px solid $white;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
    }
    svg {
        display: block;
        margin: 0 auto;
    }
    input {
        width: 0;
        height: 0;
        position: absolute;
        left: -9999px;
        appearance: none;
        &:checked {
            & + span {
                .label-icon-active {
                    display: block;
                }
                .label-icon-default {
                    display: none;
                }
            }
        }
    }
    .label-icon-active {
        display: none;
    }
}
.main-podcasts {
    padding-top: 20px;
    &-title {
        font-size: 30px;
    }
    .wrap {
        max-width: 1100px;
    }
    &-list {
        padding-bottom: 20px;
        padding-top: 40px;
    }
}
.main-podcast-item {
    display: flex;
    margin-bottom: 40px;
    &-control {
        flex: 0 0 44px;
        max-width: 44px;
        button.button-reboot {
            border-radius: 50%;
            width: 44px;
            height: 44px;
            border: 1px solid rgba(40, 40, 42, 0.2);
            svg {
                margin: 0 auto;
            }
        }
    }
    &-content {
        flex: 0 0 calc(100% - 44px);
        max-width: calc(100% - 44px);
        padding-top: 3px;
        padding-left: 10px;
    }
    &-title {
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 18px;
        line-height: 1.2;
    }
    &-duration {
        font-size: 14px;
        color: rgba($text, 0.5);
    }
}
