.footer-amp {
    padding: 54px 0 14px;
    font-size: 16px;
    line-height: 1.5;
    background: #f3f3f3;
    .wrap {
        max-width: 1110px;
    }
    a {
        color: #212124;
        &:hover {
            color: #F5AB19;
        }
    }
}
.footer-column {
    padding-left: 34px;
    padding-bottom: 38px;
    &.first-child {
        padding-left: 0;
    }
    h6 {
        font-size: 14px;
        color: #6A6A6C;
        margin: 0 0 16px;
        font-weight: normal;
    }
    ul {
        li {
            margin-bottom: 8px;
        }
    }
}
.footer-line {
    height: 1px;
    background: #E6E6E6;
    margin-bottom: 15px;
}
.copyright {
    color: #6A6A6C;
    font-size: 14px;
}
.footer-navigation-list {
    justify-content: flex-end;
    font-size: 14px;
    a {
        color: #6A6A6C;
        &:hover {
            color: #F5AB19;
        }
    }
    li {
        padding: 0 0 0 25px;
    }
}
.footer-amp-push {
    height: 70px;
}